<!-- マイページお気に入り一覧 -->
<!-- app-planspot-selector
  [count]="count"
  [condition]="condition"
  [mSort]="$mSort"
  [searchTarms]="optionKeywords"
  [myFavorite]="true"
  (event)="onPlanSpotChange($event)"
  (sort)="sortChange($event)"
>
</app-planspot-selector-->
<div
  class="rows"
  infinite-scroll
  [infiniteScrollDistance]="5"
  [infiniteScrollUpDistance]="1.5"
  [infiniteScrollThrottle]="150"
  (scrolled)="onScrollDown()"
>
  <app-planspot-list-item
    *ngFor="let item of details$"
    [item]="item"
    [lang]="lang"
    [myFavorite]="true"
    [myPlanSpots]="myPlanSpots"
    [type]="type"
    (linked)="linktoDetail($event)"
    (addMyPlan)="addMyPlan($event)"
    (delFav)="deleteFavorite($event)"
  >
  </app-planspot-list-item>
</div>

<!-- <div *ngFor="let item of details$">
  <p>{{ item.planName }}</p>
  <div>{{ item.pictures[0] }}</div>
</div> -->
