@import "../../../assets/scss/vars";

@media screen and (min-width: 415px) and (max-width: 1024px) { 
  div.plandtl{
    margin: auto 98px;
  }
}

div.plandtl{
  p{
    font-size: $fs-normal;
  }
  
  ::ng-deep .mat-card{
    box-shadow: none!important;
  }
  
  h4{
    font-size: 16px;
    margin: 8px 0;
    padding-bottom: 8px;
    border-bottom: 1px solid $color-gld01;
  }
  
  #plandtlheader {
    padding: 0;  
    position: sticky;
    top: 0;
    z-index: 11;
    border-radius: 0;
  
    .header{
      width: 100%;
      margin: 0 16px 4px;
      display: flex;
      font-weight: normal;
  
      .lt{
        flex-basis: 32px;
        .avatar{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          img{
            width: 38px;
            height: 38px;
            object-fit: cover;
            border-radius: 50%;
            margin-top: 4px;
          }
          .username{
            font-size: 11px;
            white-space: nowrap;
            width: 38px;
            overflow: hidden;
            text-align: center;
            min-height: 13px;
          }
        }
  
      }
      .rt{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        .name{
          display: flex;
          align-items: center;
          flex-basis: 70%;
          .mark{
            img{
              width: 41px;
              height: 16px;
              margin: auto 12px;
            }
          }
          .title{
            font-size: 10px;
            color: #000;
            font-weight: bolder;
          }
        }
        .buttons{
          display: flex;
          align-items: center;
          flex-basis: 30%;
          justify-content: flex-end;
          .plan_fav{
            img{
              height: 16px;
            }
          }
          .plan_add{
            width: 59px;
          }
        }
      }
    }
    
    &.onplan{
      &::after{
        content: "";
        background: url("../../../assets/img/icon_onplan.svg") no-repeat;
        width: 24px;
        height: 28px;
        position: absolute;
        right: 10px;
        top:0;
      }
    }
  }
  
  #mainPictures {
    padding: 0;
    ::ng-deep .mat-card-content{
      margin: 0;
      padding: 0;
      background-color: #dccda9;
      padding-bottom: 20px;
      // height: 291px;
    }
  
    ::ng-deep .mat-card-footer{
      height: 24px;
      background-color: #dccda9;
      margin: 0;
      padding: 0;
    }
  
    ::ng-deep .owl-prev,
    ::ng-deep .owl-next {
      position: absolute;
      top: 60%;
      display: block !important;
      width: 14px;
      height: 100px;
      background-color: transparent;
      border: 0 solid black;
      transform: translateY(-50%);
    }
  
    ::ng-deep .owl-prev {
      left: -14px;
    }
  
    ::ng-deep .owl-next {
      right: 0;
    }
  
    ::ng-deep .owl-prev i,
    ::ng-deep .owl-next i {
      color: #ccc;
      transform: scale(1);
    }
  
    ::ng-deep .owl-nav{
      margin: 0;
    }
  
    ::ng-deep .owl-dots {  
      .owl-dot.active span{
        background-color: #bfa060;
      }
  
      .owl-dot span {
        width: 6.2px;
        height: 6.2px;
        margin: 5px 3px;
        background-color: #efefef;
      }
    }
  
    .inline {
      position: absolute;
      bottom: 0; //8px;
      z-index: 1;
      background-color: rgba(0, 0, 0, 0.3);
      width: 100%;
      padding-bottom: 4px;
  
      .title {
        height: auto;
      }
  
      .spotName {
        color: rgba(255, 255, 255, 0.9);
        font-size: 21px;
        font-weight: bold;
        text-shadow: 1px 1px 1px #888;
      }
    }
  
    .thumb {
      height: 252px;
      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        @include copy-protect;
      }
    }
  
    .info{
      position: absolute;
      top: 9px;
      left: 7px;
      z-index: 5;
      width: 96%;
      font-size: 12px;
      display: inline-flex;
      height: 26px;
      justify-content: space-between;
      .lt{
        display: flex;
        .areaName {
          background-color: rgba(255, 255, 255, 0.8);
          padding: 0 4px;
          line-height: 26px;
          border-radius: 3px;
          white-space: nowrap;
        }
        .category{
          background-color: #B6C2A6;
          padding: 0 6px;
          line-height: 26px;
          margin-left: 7px;
          border-radius: 3px;
          color: rgba(0,0,0,.87);;
          white-space: nowrap;
          max-width: 34vw;
          overflow: hidden;
          text-overflow: ellipsis;
          opacity: 0.9;
        }
      }
      .rt{
        .view{
          display: flex;
          flex-direction: column;
          background-color: #2c2c2ca8;
          padding: 0 4px;
          border-radius: 3px;
          color: #fff;
          height: 26px;
          justify-content: center;
          align-items: center;
          list-style: 1;
          span{
            font-size: 11px;
          }
        }
      }
    }
  }
  
  #planPictures { //mat-card
    margin: 2px 16px 12px 16px;
    padding: 0;
  
    ::ng-deep.owl-carousel{
      .owl-item {
        position: relative;
        display: flex;
        flex-wrap: wrap;
    
        .thumbspots {
          position: relative;
          width: 100%;
          height: 24.5vw;
          margin-top: -8px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 5px;
            @include copy-protect;
          }
        }
  
        @media screen and (min-width: 415px) and (max-width: 1024px) { 
          .thumbspots {
            height: 20.4vw;
          }  
        }
  
        .thumbnum {
          height: 25px;
          width: 20px;
          left: 5px;
          line-height: 18px;
          text-align: center;
          background-image: url("../../../assets/img/pin_red.svg");
          background-repeat: no-repeat;
          z-index: 2;
          span {
            color: white;
            font-size: 12px;
          }
        }
    
        .thumbname {
          overflow: hidden;
    
          span {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 11px;
            color: #baa169;
          }
        }
    
        .thumbstart{
          font-size: 11px;
          position: absolute;
          top:3px;
          left:25px;
          color: #baa169;
        }
      }
      .owl-stage{
        padding-left: 0 !important;
      }
    }
  }
  
  #planHeader{
    background-color: #f6f6f6;
    border-top: 20px solid #dccda9;
    border-radius: 0;
  
    .mat-card-content{
      position: relative;
      .plan-info
      {
        background-color: #fff;
        border-radius: 10px;
        left: 0;
        right: 0;
        padding-top: 0;
        padding-bottom: 10px;
        margin: -21px 8px 0;
  
        .title{
          height: auto;
          font-weight: 700;
          padding: 4px 0;
          color: #555;
  
          ::ng-deep.mat-list-item-content{
            justify-content: space-between;
            button{
              all: unset;
            }
          }
        }
  
        span.divider{
          border-bottom: 1px solid #bfa060;
          display: block;
          margin-right: 8px;
          margin-left: 8px;
        }
      }
    }
  
    .row {
      height: auto;
      line-height: 2;
      font-size: 12px;
  
      &.psname{
        font-size: 11px;
        line-height: 1.6;
        color: #272727;
        word-break: break-all;
        margin: 6px 12px;
        width: auto;
  
        ::ng-deep.mat-list-item-content{
          padding: 0;
          display: block;
          span{
            display: inline-flex;
            padding: 0 4px;
            border: 1px solid #bdbdbd;
            border-radius: 4px;
            margin-right: 2px;
            margin-bottom: 2px;
          }
        }
      }
  
      .timerequired{
        padding-right: 3px;
        padding-left: 2px;
        &::before {
          display: inline-block;
          content: url("../../../assets/img/business-hour.svg");
          width: 16px;
          height: 16px;
          padding-right: 3px;
          vertical-align: sub;
        }
      }
  
      .spots{
        padding-right: 3px;
        padding-left: 2px;
        &::before {
          display: inline-block;
          content: url("../../../assets/img/icon_spot.svg");
          width: 16px;
          height: 16px;
          padding-right: 3px;
          vertical-align: sub;
        }
      }
  
      &.view{
        font-size: 12px;
        color: $color-gld04;
  
        ::ng-deep .mat-list-item-content{
          justify-content: flex-end;
        }
      }
  
      &.categories{
        margin-top: 2px;
        padding-top: 8px;
        span.feature{
          background-color:$color-gld06;
          color: #fff;
          padding: 1px 6px 0;
          border-radius: 2px;
          margin-right: 3px;
          margin-bottom: 3px;
          display: inline-block;
        }      
      }
  
    }
  }
  
  #planExplanation{
    background-color: #f6f6f6;
    .mat-card-content{
      .avatar{
        margin-bottom: 4px;
        img{
          width: 38px;
          height: 38px;
          object-fit: cover;
          border-radius: 50%;
          margin-right: 4px;
        }
        &::after{
          display: inline-block;
          content: url("../../../assets/img/icon_point.svg");
          width: 47px;
          height: 17px;
        }
      }
      p{
        font-family: "Noto Sans JP";
        line-height: 1.57;
        text-align: justify;
        text-justify: inter-ideograph;
        color: #4d4d4d;
        margin-block-start: 0;
      }
    }
  }
  
  #snslink{
    .mat-card-content{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      label{
        font-size: 13px;
        color: #4d4d4d;
      }
      button.mat-mini-fab{
        background-color: initial !important;
        box-shadow: none;
        background-repeat: no-repeat;
        &.fb{
          background-image: url("../../../assets/img/facebook_Circle.svg");
        }
        &.tw{
          background-image: url("../../../assets/img/twitter_Circle.svg");
        }
        &.line{
          background-image: url("../../../assets/img/LINE_SOCIAL_Circle.svg");
        }
      }
    }
  }
  
  #planSummary{
    .mat-card-header{
      position: relative;
  
      ::ng-deep .mat-icon-button{
        position: absolute;
        right: 0;
        
      }
    }
    ::ng-deep.mat-list-item{
      height: auto;
      &.row{
        font-size: 12px;
        line-height: 2;
      }
  
      .mat-list-item-content{
        padding: 0;
  
        .area{
          &::before{
            display: inline-block;
            content: url("../../../assets/img/icon_spot.svg");
            width: 16px;
            height: 16px;
            padding-right: 1px;
            vertical-align: sub;
          }
          span.arealink{
            font-size: 11px;
            background-color: #fff;
            color: $color-gld04;
            padding: 0 5px 1px;
            border:1px solid $color-gld04;
            border-radius: 2px;
            margin-right: 3px;
            margin-bottom: 1px;
            display: inline-block;
            line-height: 17px;
          }
        }
  
        .time{
          &::before{
            display: inline-block;
            content: url("../../../assets/img/business-hour.svg");
            width: 16px;
            height: 16px;
            padding-right: 1px;
            vertical-align: sub;
          }
        }
  
        .timespan{
          margin-left: 1em;
          &::before{
            content: "(";
          }
          &::after{
            content: ")";
          }
        }
  
        .contributor{
          &::before{
            display: inline-block;
            content: url("../../../assets/img/icon_who.svg");
            width: 16px;
            height: 16px;
            padding-right: 1px;
            vertical-align: sub;
          }
        }
      }
      &.categories{
        margin-top: 2px;
        border-top: 1px dotted $color-gold;
        padding-top: 8px;
  
  
        span.feature{
          background-color: #fff;
          color: $color-gld04; // $color-gld04;
          padding: 0 6px 1px;
          border:1px solid $color-gld04;// $color-gld04;
          border-radius: 3px;
          margin-right: 3px;
          margin-bottom: 3px;
          display: inline-block;
          line-height: 17px;
        }      
      }
    }
  }
  
  @media screen and (min-width: 415px) and (max-width: 1024px) { 
    .box{
      .spotinfo{
        .card-box{
          .spot-image{
            height: 307px!important;
          }
        }
      }
    }
  }
  
  // マップブロック
  .map{
    margin: auto 16px;
  }

  // プランスポット一覧
  .box{
    margin-top: 16px;
    ::ng-deep .mat-card{
      padding: 0;
    }
  
    .spotinfo{
      margin-top: 24px;
  
      .mat-list{
        padding-top: 0;
        .subheading{
          ::ng-deep.mat-list-item-content{
            justify-content: center;
          }
          p{
            width: 100%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }
        }
        .overview{
          height: auto;
          p{
            line-height: 1.6;
          }
        }
        .memo{
          height: auto;
          p{
            background-color: #f6f5ef;
            padding: 0.3em 0.5em;
            border-radius: 0.5em;
            width: 100%;
          }
        }
        .outtime{
          display: flex;
          justify-content: center;
          &::before{
            content: "";
            width: 16px;
            height: 8px;
            background: url("../../../assets/img/allow_down_fill.svg") no-repeat;
            position: absolute;
          }
          .sufix{
            font-size: 14px;
            margin-right: 0.5em;
          }
        }
        .endtime{
          display: flex;
          justify-content: center;
          background-color: #f7f6f6;
          .sufix{
            font-size: 14px;
            margin-right: 0.5em;
          }
        }      
      }
  
      .card-box{
        overflow: hidden;
        box-sizing: border-box;
  
        .spot-title{
          display: flex;
          align-items: center;
          margin: auto 12px;
          justify-content: space-between;
  
          .rt{
            display: flex;
            align-items: center;
            .mark{
              min-width: 30px;
              height: 36px;
              text-align: center;
              background-image: url("../../../assets/img/pin_gold-r.svg");
              background-size: 30px;
              background-repeat: no-repeat;
              background-position: center;
              color: #fff;
              font-family: Lato;
              font-size: 18px;
              font-weight: 700;
              line-height: 30px;
              margin-right: 5px;
            }
            .starttime{
              font-size: 18px;
              margin-left: 0.5em;
            }
    
            p{
              margin: 5px;
            }
          }
  
          .lt{
            display: flex;
            align-items: flex-start;
            .sugtime{
              display: flex;
              align-items: center;
              .caption{
                font-size: 10px;
                color:#a6a29e;
                &::after{
                  content: ":";
                  margin: 0 5px;
                }
              }
              .text{
                font-size: 15px;
              }
            }
  
            button.add-to-favorite{
              box-shadow: none;
              min-width: auto;
              padding: 0;
              width: 25px;
              height: 25px;
              line-height: initial;
              margin-left: 6px;
  
              &::before{
                content: "";
                display: inline-block;
                width: 18px;
                height: 18px;
                background: url("../../../assets/img/icon_fav_b.svg");
                background-repeat: no-repeat;
              }
  
              &.on{
                &::before{
                  background: url(../../../assets/img/icon_fav_b_on.svg);
                  background-repeat: no-repeat;
                }
              }
  
              ::ng-deep.mat-button-ripple{
                width: 0;
                height: 0;
              }
            }
          }
        }
        
        .spot-image{
          position: relative;
          height: 62.6vw;
          overflow: hidden;
          margin: 0.5em 16px 0;
  
          ::ng-deep .owl-carousel{
            .owl-prev,.owl-next {
              position: absolute;
              top: 60%;
              display: block !important;
              width: 14px;
              height: 100px;
              background-color: transparent;
              border: 0 solid black;
              transform: translateY(-50%);
            }
          
            .owl-prev {
              left: -14px;
            }
          
            .owl-next {
              right: 0;
            }
          
            .owl-prev i,
            .owl-next i {
              color: #ccc;
              transform: scale(1);
            }
          
            .owl-dots {
              position: absolute;
              top: 12px;
              right: 6px;
          
              .owl-dot span {
                width: 6px;
                height: 6px;
                margin: 3px 4px;
              }
            }

            .thumbmain {
              text-align: center;
              background: $color-gry06;
              > img {
                height: 75vw;
              object-fit: cover;
                @include copy-protect;
              }
            }
          }
  
          .info{
            position: absolute;
            bottom: 0;
            z-index: 4;
            width: 100%;
            display: flex;
            justify-content: space-between;
            color: #fff;
            font-size: 16px;
            line-height: 45px;
            font-weight: 700;
  
            &::after{
              content: "";
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              box-shadow:inset 0 -38px 40px -40px rgba(0, 0, 0, 1);
              z-index: -1;
            }
  
            .lt{
              display: flex;
              .starttime{
                margin-left: 12px;
                font-family: Lato;
              }
              .spotname{
                margin-left: 12px;
                white-space: nowrap;
                width: 71vw;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
            .rt{
              display: flex;
              width: 50px;
              align-items: center;
              justify-content: center;
              
              .views{
                position: absolute;
                z-index: 3;
                bottom: 5px;
                right: 9px;
                color: #fff;
                font-size: 12px;
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                align-items: center;
                line-height: 1;
                .label{
                  font-size: 9px;
                }
      
                background-color: #222;
                padding: 4px 6px;
                border-radius: 6px;
                width: 34px;
              }
            }
            
          }
          
        } //.spot-image
  
        .spot-overview{
          padding: 21px 12px 0;
          overflow: hidden;
          p{
            margin: 0;
            &.more{
              -webkit-box-orient: unset;
              -webkit-line-clamp: unset;
            }
          }
        }
  
        .spot-overview-bottom{
          display: flex;
          justify-content: flex-end;
          margin-top: 6px;
          margin-right: 12px;
  
          .more{
            box-shadow: none;
            background-color: #de7274;
            color: #fff;
            border-radius: 6px;
            font-family: Lato;
            font-size: 14px;
            height: 24px;
            width: 70px;
            line-height: initial;
            padding-left: 8px;
  
            ::ng-deep.mat-button-wrapper{
              position: absolute;
              top: 2px;
              left: 0;
              right: 0;
              padding-right: 5px;
  
              &::after{
                content: '';
                width: 5px;
                height: 5px;
                border: 0px;
                border-top: solid 1px #fff;
                border-right: solid 1px #fff;
                -ms-transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
                position: absolute;
                top: 46%;
                right: 16px;
              }
            }
  
            &.off{
              background-color: #cac9c7;
            }
          }
        }
      } //.card-box
    } //.spotinfo
  
    .addToPlan{
      margin: 8px 16px;
      display: flex;
      justify-content: end;
      button{
        all:unset;
        width: 181px;
        height: 28px;
        background-color: #DE7274;
        color: #fff;
        border-radius: 4px;
        text-align: center;
        font-weight: 800;
        line-height: 28px;
      }
    }
  
    .mat-list{
      .fintime{
        display: flex;
        justify-content: center;
        background-color: #f7f6f6;
        .sufix{
          font-size: 14px;
          &::after{
            content: "：";
          }
        }
      }
    }
  
    .impression{
      margin: 8px 16px;
      .avatar{
        margin-bottom: 4px;
        img{
          width: 38px;
          height: 38px;
          object-fit: cover;
          border-radius: 50%;
          margin-right: 4px;
        }
        &::after{
          display: inline-block;
          content: url("../../../assets/img/icon_impression.svg");
          width: 106px;
          height: 17px;
          vertical-align: super;
        }
      }
      p{
        padding: 8px;
        background-color: #F6F5EF;
        border-radius: 10px;
        margin-block-start: 0;
      }
    }
  } //.box
  
  #specialpage{
    padding: 12px;
    ::ng-deep.owl-item{
      .wrap{
        height: 175px;
        display: flex;
        flex-direction: column;
        
        .thumbnail{
          height: 66%;
          border-radius: 11px 11px 0 0;
          img{
            height: auto;
          }
        }
        .content{     
          height: 34%;
          background-color: #606060;
          border-radius: 0 0 11px 11px;
          p{
            font-size: 14px;
            color: #fff;
            margin: 0;
            padding: 3px 10px;
            height: initial;
          }
          
        }
      }
    }
  }
  
  .pics {
    ::ng-deep .owl-prev,
    ::ng-deep .owl-next {
      position: absolute;
      top: 46%;
      display: block !important;
      width: 18px;
      height: 22px;
      background-color: rgba(0, 0, 0, 0.3);
      // border: 0 solid black;
      border-radius: 30px;
      transform: translateY(-50%);
      filter: drop-shadow(0 2px 0 rgba(0, 0, 0, 0.3));
  
      .material-icons {
        font-size: 14px;
      }
    }
  
    ::ng-deep .owl-prev {
      left: -11px;
    }
  
    ::ng-deep .owl-next {
      right: -11px;
    }
  
    ::ng-deep .owl-prev i,
    ::ng-deep .owl-next i {
      margin-top: 5px;
      color: white;
      transform: scale(1.5);
    }
  
    ::ng-deep .owl-theme .owl-nav [class*="owl-"]:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  
    ::ng-deep .owl-stage-outer {
      height: 208px;
    }
  
    ::ng-deep .owl-carousel {
      height: 174px;
    }
  
    ::ng-deep .owl-carousel .owl-stage {
      padding-left: 0 !important;
    }
  
    ::ng-deep .owl-stage .owl-item {
      box-sizing: border-box;
      height: 150px;
  
      a {
        text-decoration: none;
      }
    }
  
    .thumbnail {
      display: inline-flex !important;
      height: 100px;
      border-radius: 6px;
      overflow: hidden;
  
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  
    .content {
      padding: 0;
  
      p {
        margin: 0 5px;
        height: 66px;
        overflow: hidden;
        font-size: 12px;
      }
    }
  }
  
  #writer {
    .card-box{
      .card-header{
        height: 159px;
        position: relative;
        &.detail{
          height: 96px;
        }
        .cover{
          background-color: #717171;
          height: 120px;
          border-radius: 7px;
          .wrap{
            display: flex;
            justify-content: center;
    
            img{
              height: 120px;
              width: 100%;
              object-fit: cover;
              border-radius: 7px;
            }
    
            span{
              font-size: 13px;
              margin-top: 31px;
            }
          }
        }
        .user{
          .wrap{
            background-color: #bdbab8;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            border: 2px sok;
            border: 2px solid #fff;
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            bottom: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 13px;
            img{
              width: 80px;
              height: 80px;
              border-radius: 50%;
              object-fit: cover;
            }
          }
        }
      }
    
      position: relative;
      .card-info{
        display: flex;
        flex-direction: column;
        text-align: center;
        // margin: 10px 8px;
    
        .username{
          font-size: 15px;
          font-weight: 700;
        }
    
        .attribute{
          font-size: 11px;
          line-height: 30px;
          span{
            width: 75px;
            display: inline-block;
            &.country{
              &::before{
                content: url("../../../assets/img/icon_place.svg");
                width: 8px;
                height: 10px;
                display: inline-block;
                vertical-align: -1px;
                margin-right: 4px;
              }
            }
          }
        }
    
        .about{
          font-size: 14px;
          background-color: #F7F5EC;
          border-radius: 10px;
          p{
            margin-block-start: 0;
            white-space: pre-wrap;
            padding: 14px 8px;
            margin-block-end: 0;
          }
        }
      }
    }
    .buttons{
      position: relative;
      display: inline-block;
      margin-top: 12px;
      button{
        all: unset;
        width: 188px;
        height: 26px;
        border: 1px solid #F3787F;
        border-radius: 13px;
        color: #F3787F;
        font-size: 14px;
        text-align: center;
      }
    }
  }
}




