<div class="plandtl">
  <mat-card id="plandtlheader" [ngClass]="{'onplan':match(planSpotids,myPlanSpots)}">
    <div class='link' (click)="linktolist()">{{"BackEveryoneRecommendations" | translate}}</div>
    <mat-card-header>
      <div class='header'>
        <div class="lt">
          <span class='avatar'>
            <img [src]='data.user?.pictureUrl || data.userStaff?.pictureUrl || blankUserSrc' alt=''>
            <span class="username">
              {{data.user?.displayName ? data.user?.displayName : data.userStaff?.romanLetterName | langFilter:lang}}</span>
          </span>
        </div>
        <div class="rt">
          <div class='name'>
            <span class='mark'>
              <img src="../../../assets/img/mark_plan.svg" alt="mark">
            </span>
            <span class='title'>
              {{ data.planName }}
            </span>
          </div>
          <div class='buttons'>
            <button mat-icon-button class="plan_fav" (click)="onClickFavorite()">
              <img src="../../../assets/img/hart_small.svg">
            </button>
            <button mat-icon-button class="plan_add" (click)="onClickAddToPlan()">
              <!-- <img src="{{addplanbtn_src}}" alt="add to plan"> -->
              {{'AddToPlan'| translate}}
            </button>
          </div>
        </div>
      </div>
    </mat-card-header>
  </mat-card>

  <!-- プランメイン写真 -->
  <mat-card id="mainPictures">
    <mat-card-content class="mt10">
      <owl-carousel-o *ngIf="data.picCnt > 1; else singlePict">
        <ng-container *ngFor="let item of data.pictures; index as i">
          <ng-template carouselSlide id="i + 1">
            <div class="thumb">
              <img
                [src]="item"
                [alt]="data.planId"
                [title]="data.planId"
              />
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>

      <ng-template #singlePict>
        <ng-container *ngFor="let item of data.pictures; index as i">
          <div class="thumb">
            <img
              [src]="item"
              [alt]="data.planId"
              [title]="data.planId"
            />
          </div>
        </ng-container>
      </ng-template>
    </mat-card-content>

    <div class='info' *ngIf="data.pictures">
      <div class='lt'>
        <span class="areaName" *ngIf="data.areaName">
          {{ data.areaName | langFilter: lang }}
        </span>
        <!-- <span class="category" *ngIf="data.areaName2">
          {{ data.areaName2 | langFilter: lang }}
        </span> -->
      </div>
      <div class='rt'>
        <div class="view">
          <!-- {{ data.pvQty }}<span>view</span> -->
          0 <span>View</span>
        </div>
      </div>
    </div>
  </mat-card>

  <!-- 基本情報 -->
  <mat-card class='p0' id="planHeader">
    <mat-card-content>
      <mat-list class="plan-info">
        <mat-list-item class="title">
          {{ "BasicInfomation" | translate }}
          <ng-container *ngIf="!$isRemojuPlan">
            <button mat-icon-button color="primary" aria-label="menu" [matMenuTriggerFor]="menuPlan">
              <mat-icon>
                more_vert</mat-icon>
            </button>
          </ng-container>
          <mat-menu #menuPlan="matMenu">
            <button mat-menu-item (click)="onClickReport()">{{ "ReportPlanUser" | translate }}</button>
          </mat-menu>
        </mat-list-item>
        <span class='divider'></span>
        <mat-list-item class="row psname">
          <span *ngFor="let item of spots; index as i">{{item.spotName}}</span>
        </mat-list-item>
        <mat-list-item class="row mt02">
          <span class="timerequired">
            <label>{{ "TimeRequired" | translate }}：</label>
            <span *ngIf="data.timeRequiredHour !== null">{{ data.timeRequiredHour }}{{ "Hour" | translate }}</span>
            <span *ngIf="data.timeRequiredMin !== null">{{ data.timeRequiredMin }}{{ "Minute" | translate }}</span>
          </span>
          <span class="timespan">
            ({{ data.startTime }}～{{ data.endTime }})
          </span>
          <span class="spots">
            <label>{{ "NumberOfSpots" | translate }}：</label>
            <span>{{ data.spots?.length }}</span>
          </span>
        </mat-list-item>
        <mat-list-item class="row categories">
          <ng-container *ngFor="let item of categoryNames">
            <span class="feature" (click)="onClickCategory(item.id)">{{ item.name | langFilter:lang }}</span>
          </ng-container>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <!-- プラン概要 -->
  <mat-card id="planExplanation" *ngIf="data.planExplanation">
    <mat-card-content>
      <div class='avatar'>
        <img [src]='data.user?.pictureUrl || data.userStaff?.pictureUrl || blankUserSrc' alt=''>
      </div>
      <p [innerHTML]="data.planExplanation | replaceNewline"></p>
    </mat-card-content>
  </mat-card>

  <!-- プランスポットサムネイル -->
  <mat-card id="planPictures">
    <mat-card-content>
      <h4>周遊スポット</h4>
      <owl-carousel-o [options]="thumbOptions">
        <ng-container *ngFor="let item of spots; index as i">
          <ng-template carouselSlide>
            <div class="thumbnum">
              <span>{{ i + 1 }}</span>
            </div>
            <div class="thumbspots">
              <a (click)="setMapCenter(item.latitude, item.longitude)">
                <img [src]="item.pictureUrl" />
              </a>
            </div>

            <div class="thumbname">
              <span>{{ item.spotName }}</span>
            </div>
            <div class="thumbstart">
              {{item.startTime}}
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </mat-card-content>
  </mat-card>
  <!-- マップ -->
  <div class='map'>
    <app-map-panel *ngIf="isMapDisp" [planSpots]="data.spots" [planId]="data.planId" [isDetail]="true"></app-map-panel>
  </div>

  <!-- プランスポット一覧 -->
  <div class="box">
    <ng-container *ngFor="let item of spots; index as i">
      <mat-card class="spotinfo">
        <mat-card-content>
          <!-- 掲載OK -->
          <ng-container *ngIf="!item.isEndOfPublication;">
            <div class="card-box">
              <div class="spot-title">
                <div class="rt">
                  <span class="mark">{{i+1}}</span>
                  <span class="starttime">{{ item.startTime ? item.startTime : "--:--" }}</span>
                </div>
                <div class="lt">
                  <div class="sugtime">
                    <span class="caption">{{ "SuggestedTime" | translate }}</span>
                    <span class="text">{{ item.stayTime }}{{ "Minute" | translate }}</span>
                  </div>
                  <button *ngIf="item.type!==3" mat-button class="add-to-favorite"  (click)="onClickSpotFavorite(item)" [ngClass]="{'on':item.isFavorite}">
                  </button>
                </div>
              </div>
              <div class="spot-image" (click)="linktoSpot(item.spotId)">
                <owl-carousel-o
                    *ngIf="item.pictures.length > 1; else singlePict"
                    [options]="mainOptions"
                  >
                  <ng-container *ngFor="let pict of item.pictures">
                    <ng-template carouselSlide id="item.spotId">
                      <div class="thumbmain">
                        <img
                          [src]="pict"
                          [alt]="item.spotId"
                          [title]="item.spotId"
                        />
                      </div>
                    </ng-template>
                  </ng-container>
                </owl-carousel-o>

                <ng-template #singlePict>
                  <ng-container *ngFor="let pict of item.pictures">
                    <div class="thumbmain">
                      <img
                        [src]="pict"
                        [alt]="item.spotId"
                        [title]="item.spotId"
                      />
                    </div>
                  </ng-container>
                </ng-template>

                <div class="info">
                  <div class="lt">
                    <div class="spotname">
                      {{ item.spotName  }}
                    </div>
                  </div>
                  <div class="rt" *ngIf="item.pvAllQty">
                    <div class="views">
                      <span class="label">View</span>
                      <span class="item">{{ item.pvAllQty.toLocaleString() }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <!-- 掲載終了スポット -->
          <ng-container *ngIf="item.isEndOfPublication">
            <div class="card-box">
              <div class="spot-title">
                <span class="mark">{{i+1}}</span>
              </div>
            </div>
            <span>{{ "EndOfPublication" | translate }}</span>
          </ng-container>

          <div class='addToPlan'>
            <button class="btn" (click)="onClickAddToPlan(item)">{{"AddToPlanOnly"|translate}}</button>
          </div>

          <mat-list>
            <mat-list-item class="subheading" *ngIf="item.subheading">
              <p>{{ item.subheading }}</p>
              <mat-divider class="rj-linecolor"></mat-divider>
            </mat-list-item>
            <mat-list-item class="overview" *ngIf="item.overview">
              <p>{{ item.overview }}</p>
            </mat-list-item>
            <mat-list-item class="memo" *ngIf="item.memo">
              <p>{{ item.memo }}</p>
            </mat-list-item>
            <!-- 出発時間 -->
            <mat-list-item class="outtime" *ngIf="i + 1 < spots.length && item.transfer">
              <span class="sufix">{{ "StartTime" | translate }}</span>{{item.line[0].TimeFrom}}
            </mat-list-item>
            <!-- 終了時間 -->
            <mat-list-item class="endtime" *ngIf="i === spots.length - 1 && data.endTime">
              <span class="sufix">{{ "EndTime" | translate  }}</span>{{ data.endTime }}
            </mat-list-item>
          </mat-list>
          <!-- 移動方法 -->
          <app-transfer-panel *ngIf="i + 1 < spots.length" [item]="item"></app-transfer-panel>
        </mat-card-content>
      </mat-card>
    </ng-container>

    <div class="impression" *ngIf="data.memo">
      <div class='avatar'>
        <img [src]="data.user?.pictureUrl" [alt]="data.user?.displayName"/>
      </div>
      <p [innerHTML]="data.memo | replaceNewline"></p>
    </div>
  </div>

  <!-- レビュー投稿 -->
  <app-review-list-panel *ngIf="reviewResult" [reviewResult]="reviewResult" [type]="$isRemojuPlan ? 2 : 3" [id]="data.planId" [spotplanName]="data.planName"></app-review-list-panel>

  <!-- 投稿者のプロフィール-->
  <mat-card id="writer" *ngIf="data.user || data.userStaff">

    <h4>{{"PostersProfile"|translate}}</h4>

    <ng-container *ngIf="$userStaff;else profile" >
      <div class='card-box'>
        <div class="card-header">
          <div class="cover">
            <div class="wrap">

            </div>
          </div>
          <div class="user">
            <div class="wrap">
              <img
                src="{{ $userStaff.pictureUrl }}"
                alt="{{ $userStaff.romanLetterName | langFilter: lang }}"
              />
            </div>
          </div>
        </div>
        <div class="card-info">
          <div class="username">
            {{ $userStaff.romanLetterName | langFilter: lang }}
          </div>
          <div class="attribute">
            <span class="division">{{
              $userStaff.departmentName | langFilter: lang
            }}</span>
          </div>
          <div class="about">
            <p>{{ $userStaff?.introduction | langFilter: lang }}</p>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-template #profile>
      <app-userprofile-panel *ngIf="data.user && data.country" [otherUser]="data.user" [country]="data.country" [detail]="true" [memo]="data.memo"></app-userprofile-panel>
      <div class='buttons'>
        <button mat-button disableRipple matBadge="{{user_plans.length}}" matBadgeSize="small" (click)="onViewUserPost()">この投稿者の投稿一覧へ</button>
      </div>
    </ng-template>
  </mat-card>

  <mat-card id="otherSpot" class="pics" *ngIf="data.spotToGoList?.length > 0">
    <h4 class="header">
      {{ "RecommendedSpotsInTheSameArea" | translate }}
    </h4>
    <mat-card-content class="mt16">
      <owl-carousel-o [options]="customOptions">
        <ng-container *ngFor="let item of data.spotToGoList; index as i">
          <ng-template carouselSlide id="item.spotPlanID">
            <div class="thumbnail">
              <a href="{{ lang }}/spots/detail/{{ item.spotPlanID }}">
                <img [src]="item.pictureUrl" alt="" />
              </a>
            </div>
            <div class="content">
              <p>{{ item.name | langFilter: lang }}</p>
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </mat-card-content>
  </mat-card>

  <mat-card id="specialpage" class="pics" *ngIf="features?.length > 0">
    <h4 class="header">
      {{ "FeaturedLink" | translate }}
    </h4>
    <mat-card-content class="mt16">
      <owl-carousel-o [options]="specialPageOptions">
        <ng-container *ngFor="let item of features; index as i">
          <ng-template carouselSlide id="item.feature_id">
            <div class="wrap">
              <div class="thumbnail">
                <a href="{{ item.url }}">
                  <img [src]="item.picture_url" alt="" />
                </a>
              </div>
              <div class="content">
                <p>{{ item.title }}</p>
              </div>
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </mat-card-content>
  </mat-card>
</div>

