<div class="plandtl" (swiperight)="onSwipeRight($event)">
  <mat-card id="plandtlheader" [ngClass]="{'onplan':match(planSpotids,myPlanSpots)}">
    <div class='link' (click)="linktolist()">
      <span class="frame">{{"BackEveryoneRecommendations" | translate}}</span>
    </div>
    <mat-card-header>
      <div class='header'>
        <div class="lt">
          <span class='avatar'>
            <img [src]='data.user?.pictureUrl || data.userStaff?.pictureUrl || blankUserSrc' alt=''>
            <span class="username">
              {{data.user?.displayName ? data.user?.displayName : data.userStaff?.romanLetterName | langFilter:lang}}</span>
          </span>
        </div>
        <div class="rt">
          <div class='name'>
            <span class='title'>
              {{ data.planName }}
            </span>
          </div>
          <div class='buttons'>
            <!-- <button class="deletePlan" (click)="onClickThanks()"  [ngStyle]="{'color' : ($isThanks ? 'red' : 'gray')}">
              <i class="material-icons">thumb_up</i>
            </button> -->
            <!-- <button mat-button class="add-to-favorite" [ngClass]="{'on':data.isFavorite}" (click)="onClickFavorite()">
            </button> -->
            <button mat-icon-button class="plan_add" (click)="onClickAddToPlan()">
              <img src="{{addplanbtn_src}}" alt="add to plan">
            </button>
          </div>
        </div>
      </div>
    </mat-card-header>
  </mat-card>

  <div class="container" #cont>
    <!-- プランメイン写真 -->
    <mat-card id="mainPictures">
      <mat-card-content class="mt10">
        <owl-carousel-o *ngIf="data.picCnt > 1; else singlePict">
          <ng-container *ngFor="let item of data.pictures; index as i">
            <ng-template carouselSlide id="i + 1">
              <div class="thumb">
                <img [src]="item" [alt]="data.planId" [title]="data.planId" />
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>

        <ng-template #singlePict>
          <ng-container *ngFor="let item of data.pictures; index as i">
            <div class="thumb">
              <img [src]="item" [alt]="data.planId" [title]="data.planId" />
            </div>
          </ng-container>
        </ng-template>
      </mat-card-content>

      <div class='info' *ngIf="data.pictures">
        <div class='lt'>
          <span class='mark' [ngClass]="{'spot':isSpot,'plan':!isSpot}">
            {{!isSpot?'Plan':'Spot'}}
          </span>
          <span class="areaName" *ngIf="data.areaName">
            {{ data.areaName | langFilter: lang }}
          </span>
          <!-- <span class="category" *ngIf="data.areaName2">
          {{ data.areaName2 | langFilter: lang }}
        </span> -->
        </div>
        <div class='rt'>
          <div class="view">
            {{ data.pvQty }}<span>View</span>
          </div>
        </div>
      </div>
    </mat-card>

    <!-- 基本情報 -->
    <mat-card class='p0' id="planHeader">
      <mat-card-content>
        <mat-list class="plan-info">
          <mat-list-item class="title">
            {{ "BasicInfomation" | translate }}
            <ng-container *ngIf="!$isRemojuPlan">
              <button mat-icon-button color="primary" aria-label="menu" [matMenuTriggerFor]="menuPlan">
                <mat-icon>
                  more_vert</mat-icon>
              </button>
            </ng-container>
            <mat-menu #menuPlan="matMenu">
              <button mat-menu-item (click)="onClickReport()">{{ "ReportPlanUser" | translate }}</button>
            </mat-menu>
          </mat-list-item>
          <span class='divider'></span>
          <mat-list-item class="row mt02 summery">
            <span class="spots">
              <label>{{ "NumberOfSpots" | translate }}：</label>
              <div class='maru'>
                <span>{{ data.spots?.length }}</span>
              </div>
            </span>
            <div>
              <span class="timerequired">
                <span *ngIf="data.timeRequiredHour !== null">{{ data.timeRequiredHour }}{{ "Hour" | translate }}</span>
                <span *ngIf="data.timeRequiredMin !== null">{{ data.timeRequiredMin }}{{ "Minute" | translate }}</span>
              </span>
              <span class="timespan">
                ({{ data.startTime }}～{{ data.endTime }})
              </span>
            </div>
          </mat-list-item>
          <mat-list-item class="row psname">
            <div class="wrap" *ngFor="let item of spots; index as i"><span>{{item.spotName}}</span></div>
          </mat-list-item>
          <mat-list-item class="row categories">
            <ng-container *ngFor="let item of categoryNames">
              <span class="feature" (click)="onClickCategory(item.id)">{{ item.name | langFilter:lang }}</span>
            </ng-container>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>

    <mat-card id="util">
      <mat-card-content>
        <div class='comment'>
          <a pageScroll href="#review" [pageScrollOffset]="80" [pageScrollDuration]="500">
            {{ "Review" | translate }}
            <span>{{ reviewQty }}</span>{{ "Count" | translate }}
          </a>
        </div>
        <div class='favorite'>
          <button mat-button class="add-to-favorite" [ngClass]="{'on':data.isThanks}" (click)="onClickThanks()">
          </button>
            {{ "Thanks" | translate }}
          <span>{{ data.thanksQty }}</span>
        </div>
        <div class='bookmark'>
          <button mat-button class="add-to-bookmark" [ngClass]="{'on':data.isFavorite}" (click)="onClickFavorite()">
          </button>
            {{ "Favorite" | translate }}
        </div>
      </mat-card-content>
    </mat-card>

    <!-- プラン概要 -->
    <mat-card id="planExplanation" *ngIf="data.planExplanation">
      <mat-card-content>
        <div class='avatar'>
          <img [src]='data.user?.pictureUrl || data.userStaff?.pictureUrl || blankUserSrc' alt=''>
        </div>
        <p [innerHTML]="data.planExplanation | replaceNewline"></p>
      </mat-card-content>
    </mat-card>

    <!-- プランスポットサムネイル -->
    <mat-card id="planPictures">
      <mat-card-content>
        <h4>{{ 'SpotsVisited' | translate }}</h4>
        <owl-carousel-o [options]="thumbOptions">
          <ng-container *ngFor="let item of spots; index as i">
            <ng-template carouselSlide>
              <div class="thumbnum">
                <span>{{ i + 1 }}</span>
              </div>
              <div class="thumbspots">
                <a (click)="setMapCenter(item.latitude, item.longitude)">
                  <img [src]="item.pictureUrl?item.pictureUrl:noPic" />
                </a>
              </div>

              <div class="thumbname">
                <span>{{ item.spotName }}</span>
              </div>
              <div class="thumbstart">
                {{item.startTime}}
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </mat-card-content>
    </mat-card>

    <!-- マップ -->
    <div class='map'>
      <app-map-panel *ngIf="isMapDisp" [planSpots]="data.spots" [planId]="data.planId" [isDetail]="true"
        [isCar]="data.isCar" [overviewPolyline]="data.overviewPolyline">
      </app-map-panel>
    </div>

    <!-- プランスポット一覧 -->
    <div class="box">
      <ng-container *ngFor="let item of spots; index as i">
        <mat-card class="spotinfo">
          <mat-card-content>
            <!-- スタート時間-->
            <mat-list style="margin: auto 16px 16px;" *ngIf="i === 0 && item.transfer">
              <mat-list-item class="endtime">
                <span class="sufix">{{ "StartTime" | translate }}</span>{{item.startTime}}
              </mat-list-item>
            </mat-list>
            <!-- 掲載OK -->
            <ng-container *ngIf="!item.isEndOfPublication;">
              <div class="card-box">
                <div class="spot-title">
                  <div class="lt">
                    <span class="mark">{{i+1}}</span>
                    <div class='titleline'>
                      <div>
                        <span class="starttime">{{ item.startTime ? item.startTime : "--:--" }}</span>
                        <span class="sugtime">{{ "SuggestedTime" | translate }}
                          {{ item.stayTime }}{{ "Minute" | translate }}</span>
                      </div>
                      <div class="spotname">
                        {{ item.spotName  }}
                      </div>
                    </div>
                  </div>
                  <div class="rt">
                    <button *ngIf="item.type!==3" mat-button class="add-to-bookmark" (click)="onClickSpotFavorite(item)"
                      [ngClass]="{'on':item.isFavorite}">
                    </button>
                    <button mat-button class='link-to-spot' (click)="linktoSpot(item)"></button>
                  </div>
                </div>

                <div class="spot-image">
                  <owl-carousel-o *ngIf="item.pictures.length > 1; else singlePict" [options]="mainOptions">
                    <ng-container *ngFor="let pict of item.pictures;index as i">
                      <ng-template carouselSlide id="item.spotId">
                        <div class="thumbmain">
                          <img [src]="pict?pict:noPic" [alt]="item.spotId" [title]="item.spotId" />
                          <div class="memo" *ngIf="item.pictureMemos && item.pictureMemos[i]">
                            {{item.pictureMemos[i]}}
                          </div>
                        </div>
                      </ng-template>
                    </ng-container>
                  </owl-carousel-o>

                  <ng-template #singlePict>
                    <ng-container *ngFor="let pict of item.pictures">
                      <div class="thumbmain" (click)="linktoSpot(item)">
                        <img [src]="pict?pict:noPic" [alt]="item.spotId" [title]="item.spotId" />
                      </div>
                    </ng-container>
                  </ng-template>

                </div>
              </div>
            </ng-container>
            <!-- 掲載終了スポット -->
            <ng-container *ngIf="item.isEndOfPublication">
              <div class="card-box">
                <div class="spot-title">
                  <span class="mark">{{i+1}}</span>
                </div>
              </div>
              <span>{{ "EndOfPublication" | translate }}</span>
            </ng-container>

            <div class='addToPlan'>
              <button class="btn" (click)="onClickAddToPlan(item)">{{"AddToPlanOnly"|translate}}</button>
            </div>

            <mat-list>
              <mat-list-item class="subheading" *ngIf="item.subheading">
                <p>{{ item.subheading }}</p>
                <mat-divider class="rj-linecolor"></mat-divider>
              </mat-list-item>
              <mat-list-item class="overview" *ngIf="item.overview">
                <p>{{ item.overview }}</p>
              </mat-list-item>
              <mat-list-item class="memo" *ngIf="item.memo">
                <p>{{ item.memo }}</p>
              </mat-list-item>
              <!-- 出発時間 -->
              <!-- <mat-list-item class="outtime" *ngIf="i + 1 < spots.length && item.transfer">
                <span class="sufix">{{ "StartTime" | translate }}</span>{{item.line[0].TimeFrom}}
              </mat-list-item> -->
            </mat-list>
            <!-- 終了時間 -->
            <mat-list style="margin: auto 16px;" *ngIf="i === spots.length - 1 && data.endTime">
              <mat-list-item class="endtime">
                <span class="sufix">{{ "EndTime" | translate  }}</span>{{ data.endTime }}
              </mat-list-item>
            </mat-list>
            <!-- 移動方法 -->
            <app-transfer-panel *ngIf="i + 1 < spots.length" [isCar]="data.isCar" [item]="item"
              [nextItem]="data.spots[i + 1]"></app-transfer-panel>
          </mat-card-content>
        </mat-card>
      </ng-container>

      <div class="impression" *ngIf="data.memo">
        <div class='avatar'>
          <img [src]="data.user?.pictureUrl" [alt]="data.user?.displayName" />
        </div>
        <p [innerHTML]="data.memo | replaceNewline"></p>
      </div>
    </div>

    <!-- コメント投稿 -->
    <app-comment-list-post-panel *ngIf="reviewResult" [reviewResult]="reviewResult" [type]="$isRemojuPlan ? 2 : 3"
      [id]="data.planId" (onCommentUpd)="onCommentUpd($event)"></app-comment-list-post-panel>

    <!-- 投稿者のプロフィール-->
    <mat-card id="writer" *ngIf="data.user || data.userStaff">

      <h4>{{"PostersProfile"|translate}}</h4>

      <ng-container *ngIf="$userStaff;else profile">
        <div class='card-box'>
          <div class="card-header">
            <div class="cover">
              <div class="wrap">

              </div>
            </div>
            <div class="user">
              <div class="wrap">
                <img src="{{ $userStaff.pictureUrl }}" alt="{{ $userStaff.romanLetterName | langFilter: lang }}" />
              </div>
            </div>
          </div>
          <div class="card-info">
            <div class="username">
              {{ $userStaff.romanLetterName | langFilter: lang }}
            </div>
            <div class="attribute">
              <span class="division">{{
              $userStaff.departmentName | langFilter: lang
            }}</span>
            </div>
            <div class="about">
              <p>{{ $userStaff?.introduction | langFilter: lang }}</p>
            </div>
          </div>
        </div>
      </ng-container>

      <ng-template #profile>
        <app-userprofile-panel *ngIf="data.user" [otherUser]="data.user" [detail]="true"></app-userprofile-panel>
        <div class='buttons'>
          <button mat-button disableRipple matBadge="{{ data.userPlanQty }}" matBadgeSize="small"
            (click)="onViewUserPost()">{{"ViewUserPost"|translate}}</button>
        </div>
      </ng-template>
    </mat-card>

    <mat-card id="otherSpot" class="pics" *ngIf="data.spotToGoList?.length > 0">
      <h4 class="header">
        {{ "RecommendedSpotsInTheSameArea" | translate }}
      </h4>
      <mat-card-content class="mt16">
        <owl-carousel-o [options]="customOptions">
          <ng-container *ngFor="let item of data.spotToGoList; index as i">
            <ng-template carouselSlide id="item.spotPlanID">
              <div class="thumbnail">
                <a href="{{ lang }}/spots/detail/{{ item.spotPlanID }}">
                  <img [src]="item.pictureUrl" alt="" />
                </a>
              </div>
              <div class="content">
                <p>{{ item.name | langFilter: lang }}</p>
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </mat-card-content>
    </mat-card>

    <mat-card id="specialpage" class="pics" *ngIf="features?.length > 0">
      <h4 class="header">
        {{ "FeaturedLink" | translate }}
      </h4>
      <mat-card-content class="mt16">
        <owl-carousel-o [options]="specialPageOptions">
          <ng-container *ngFor="let item of features; index as i">
            <ng-template carouselSlide id="item.feature_id">
              <div class="wrap">
                <div class="thumbnail">
                  <a href="{{ item.url }}">
                    <img [src]="item.picture_url" alt="" />
                  </a>
                </div>
                <div class="content">
                  <p>{{ item.title }}</p>
                </div>
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </mat-card-content>
    </mat-card>
    <button *ngIf="!isMobile" class="scroll-to-top" (click)="scrollToTop()">
      <img src="../../../../../assets/img/toTop3.svg" alt="toTop" />
    </button>
  </div>
</div>
<ngx-loading [show]="loading"></ngx-loading>
