@import "vars";
@media screen and (min-width: 1025px) {
  #psheader {
    //position: sticky;
    top: 0;
    display: block;
    z-index: 11;
  }
  // #container {
  //   height: 100%;
  //   overflow-y: scroll;
  //   position: relative;
  // }
}

::ng-deep {
  #userpost {
    .buttons {
      position: relative;
      display: inline-block;
      margin-top: 12px;

      button {
        all: unset;
        width: 188px;
        height: 26px;
        border: 1px solid #f3787f;
        border-radius: 13px;
        color: #f3787f;
        font-size: 14px;
        text-align: center;
      }
    }
  }
}

.list-header {
  position: sticky;
  height: 21px;
  line-height: 21px;
  top: 0;
  z-index: 50;
  display: flex;
  justify-content: center;
  font-size: 14px;
  background-color: $color-gld10;
  color: #fff;
}
