<app-planspot-selector
  id="psheader"
  [count]="count"
  [condition]="condition"
  [mSort]="$mSort"
  [searchTarms]="optionKeywords"
  (event)="onPlanSpotChange($event)"
  (sort)="sortChange($event)"
  (keyword)="keywordSearch($event)"
  (open)="openDialog($event)"
  (reset)="conditionReset()"
>
</app-planspot-selector>
<div class="list-header">{{ "PlanSpotList" | translate }}</div>
<app-planspot-list
  (scrolled)="onScrollDown()"
  (glink)="onPlanSpotChange($event)"
  [isList]="isList"
  [condition]="condition"
>
  <app-planspot-list-item
    *ngFor="let item of details$; index as i"
    [item]="item"
    [lang]="lang"
    [index]="i"
    [myPlanSpots]="myPlanSpots"
    (linked)="linktoDetail($event)"
    (addMyPlan)="addMyPlan($event)"
    (setFav)="setFavorite($event)"
    (keyword)="keywordSearch($event)"
    (userPosts)="onViewUserPost(item)"
  >
  </app-planspot-list-item>
</app-planspot-list>
<ngx-loading [show]="loading"></ngx-loading>
