<!-- Navigation start -->
<nav class="navbar" role="navigation">
    <div class="navbar-header">
      <a class="navbar-brand lower" href="/">
        <img src="../../../assets/img/remoju-logo-b.svg" alt="remoju-app" width="106" height="27" />
      </a>
    </div>
    <div class="nav-wrap">
      <mat-nav-list class="language">
        <div class="switchViewLang" [ngClass]="{'en':lang==='en'}">
          <input type="checkbox" id="switch-view3" (click)="onClickSwitchLang($event)">
          <label for="switch-view3"><span></span></label>
          <div id="swImg"></div>
        </div>
      </mat-nav-list>

      <mat-nav-list class="user">
        <span *ngIf="!commonService.loggedIn">
          <a mat-list-item (click)="commonService.login()" *ngIf="!commonService.loggedIn">{{ "PleaseLogin" | translate }}</a>
        </span>
        <div class="logout" *ngIf="commonService.loggedIn">
          <span>
            {{ "Welcome" | translate }}
            {{ userName }}
            {{ "San" | translate }}
          </span>
          <span>
            <a mat-list-item (click)="commonService.logout(currentlang)">{{ "Logout" | translate }}</a>
          </span>
        </div>
      </mat-nav-list>

      <mat-nav-list class="status">
      </mat-nav-list>

      <mat-nav-list>
        <div class="header">{{ "MakeATripPlan" | translate }}</div>
        <mat-nav-list class="sub">
          <!-- <a mat-list-item (click)="onNavgate('spots')">{{ "SearchBySpot" | translate }}</a>
          <a mat-list-item (click)="onNavgate('plans')">{{ "SearchByModelPlan" | translate }}</a> -->
          <a mat-list-item (click)="onNavgate('planspot')">{{ "FindEveryoneRecommendations" | translate }}</a>
          <a mat-list-item (click)="onNavgate('mypage','favorite')">{{ "SearchByFavorite" | translate }}</a>

        </mat-nav-list>
      </mat-nav-list>
      <mat-nav-list>
        <div class="header">{{ "ViewFeaturedArticles" | translate }}</div>
        <mat-nav-list class="sub">
          <a mat-list-item (click)="onNavgateFeature('area/kyoto/jyoshitabi.html')">{{ "RecommendedTripForGirls" | translate }}</a>
          <a mat-list-item (click)="onNavgateFeature('area/kyoto_guidemap.html')">{{ "LetsGoToKyotoNow" | translate }}</a>
          <a mat-list-item href="">{{ "ExcitingTripForKids" | translate }}</a>
          <a mat-list-item href="">{{ "SeeOther" | translate }}</a>
        </mat-nav-list>
      </mat-nav-list>
      <mat-nav-list *ngIf="commonService.loggedIn">
        <div class="header">{{ "ViewMyPage" | translate }}</div>
        <mat-nav-list class="sub">
          <a mat-list-item (click)="onNavgate('mypage','list')">{{ "ViewSavedPlans" | translate }}</a>
          <a mat-list-item  (click)="onNavgate('mypage','favorite')">{{ "ViewFavorite" | translate }}</a>
          <a mat-list-item  (click)="onNavgate('mypage','review')">{{ "ViewReview" | translate }}</a>
          <a mat-list-item (click)="onNavgate('mypage','profile')">{{ "EditProfile" | translate }}</a>
        </mat-nav-list>

      </mat-nav-list>
      <mat-nav-list>
        <div class='header'>その他</div>
        <mat-nav-list class="sub">

        </mat-nav-list>
      </mat-nav-list>
    </div>
  </nav>
