<!-- Navigation start -->
<nav class="navbar" role="navigation">
    <div class="navbar-header">
      <a class="navbar-brand lower" href="/">
        <img src="../../../assets/img/remoju-logo-b.svg" alt="remoju-app" width="106" height="27" />
      </a>
    </div>
    <div class="nav-wrap">
      <mat-nav-list class="user">
        <span *ngIf="!common.loggedIn">
          <a mat-list-item (click)="common.login()" *ngIf="!common.loggedIn">{{ "PleaseLogin" | translate }}</a>
        </span>
        <div class="logout" *ngIf="common.loggedIn">
          <span>
            {{ "Welcome" | translate }} 
            {{common.name}} 
            {{ "San" | translate }}
          </span>
          <span>
            <a mat-list-item (click)="common.logout(currentlang)">{{ "Logout" | translate }}</a>
          </span>
        </div>
      </mat-nav-list>
  
      <mat-nav-list class="status">
      </mat-nav-list>
      
      <mat-nav-list>
        <div class="header">{{ "MakeATripPlan" | translate }}</div>
        <mat-nav-list class="sub">
          <a mat-list-item (click)="onNavgate('spots')">{{ "SearchBySpot" | translate }}</a>
          <a mat-list-item (click)="onNavgate('plans')">{{ "SearchByModelPlan" | translate }}</a>
          <a mat-list-item (click)="onNavgate('mypage','favorite')">{{ "SearchByFavorite" | translate }}</a>
          <a mat-list-item (click)="onNavgate('planspot')">プランスポット一覧</a>
        </mat-nav-list>
      </mat-nav-list>
      <mat-nav-list>
        <div class="header">{{ "ViewFeaturedArticles" | translate }}</div>
        <mat-nav-list class="sub">
          <a mat-list-item href="https://www.remoju.com/contents/ja-jp/area/kyoto/jyoshitabi.html">{{ "RecommendedTripForGirls" | translate }}</a>
          <a mat-list-item href="https://www.remoju.com/contents/ja-jp/area/kyoto_guidemap.html">{{ "LetsGoToKyotoNow" | translate }}</a>
          <a mat-list-item href="">{{ "ExcitingTripForKids" | translate }}</a>
          <a mat-list-item href="">{{ "SeeOther" | translate }}</a>
        </mat-nav-list>
      </mat-nav-list>
      <mat-nav-list *ngIf="common.loggedIn">
        <div class="header">{{ "ViewMyPage" | translate }}</div>
        <mat-nav-list class="sub">
          <a mat-list-item (click)="onNavgate('mypage')">{{ "EditProfile" | translate }}</a>
          <a mat-list-item (click)="onNavgate('mypage','list')">{{ "ViewSavedPlans" | translate }}</a>
          <a mat-list-item  (click)="onNavgate('mypage','favorite')">{{ "ViewFavorite" | translate }}</a>
        </mat-nav-list>
        
      </mat-nav-list>
      <mat-nav-list>
        <div class='header'>その他</div>
        <mat-nav-list class="sub">
          
        </mat-nav-list>
      </mat-nav-list>
    </div>
  </nav>
  