<form #formCheck="ngForm">
  
  <button
    mat-mini-fab
    aria-label="close"
    class="close"
    color="white"
    mat-dialog-close="cancel"
  >
    <mat-icon>clear</mat-icon>
  </button>
  
  
  <mat-dialog-content>
    <div class="header">
      <h1>{{ data.spotplanName }}</h1>
    </div>
    <mat-list>
      <!-- タイトル -->
      <mat-list-item>
        <mat-form-field hintLabel="{{ 'Required' | translate }}" appearance="outline" style="width: 100%;">
          <mat-label>{{ "TitleEx" | translate }}</mat-label>
          <input 
            matInput 
            #title
            name="title"
            maxlength="20"
            placeholder="{{ 'TitleEx' | translate }}" 
            required 
            #inputinfo="ngModel" 
            [(ngModel)]="review.title" />
          <mat-hint align="end">{{ title.value?.length || 0 }}/20{{ "Characters" | translate }}</mat-hint>
        </mat-form-field>  
      </mat-list-item>
      <!-- 本文 -->
      <mat-list-item>
        <mat-form-field hintLabel="{{ 'Required' | translate }}" appearance="outline" style="width: 100%;">
          <mat-label>{{ "contentsEx" | translate }}</mat-label>
          <textarea 
            matInput 
            #contents
            name="contents" 
            maxlength="1000"
            placeholder="{{ 'contentsEx' | translate }}" 
            required 
            #inputinfo="ngModel" 
            [(ngModel)]="review.contents"></textarea>
          <mat-hint align="end">{{ contents.value?.length || 0 }}/1000{{ "Characters" | translate }}</mat-hint>
        </mat-form-field>
      </mat-list-item>
      
      <mat-list-item class="evaluation">
        <label>{{ "SelectRating" | translate }}</label>
        <div class="evaluation-field">
          <span class="star-rating">
            <ng-container *ngFor="let num of evaluations">
              <input type="radio" name="rating" value="{{num}}" (change)="handleChange($event);" [checked]="num === rating"><i [ngStyle]="{'opacity':num <= rating?'1':'0'}"></i>
            </ng-container>
          </span>
          <span class="choice">{{rating}}</span>
        </div>
      </mat-list-item>

      <mat-list-item>
        <mat-form-field appearance="outline">
          <mat-label>{{ "VisitDate" | translate }}</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            name="VisitDate"
            #inputinfo="ngModel" 
            [(ngModel)]="visitDate"            
          />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </mat-list-item>
      
      <mat-list-item>
        <input
          type="file"
          multiple="multiple"
          style="display: none"
          #fileInput
          accept="image/*"
          (change)="onClickSelectPhoto()" />
        <button mat-button type="button" class="selectpic" (click)="onClickSelectPhotoInputButton()">{{ "SelectAPhotoReview" | translate }}</button>
      </mat-list-item>
      <mat-list-item>
        <div class="pic">
          <div *ngFor="let item of review.pictures; index as i">
            <div class="thumbnail">
              <img [src]="item.picturePreviewUrl ? item.picturePreviewUrl : item.pictureUrl" alt="" />
              <button type="button" class="delete" (click)="onClickSpotDelete(item)"></button>
            </div>
          </div>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-dialog-content>
  <mat-dialog-actions class="bottom">
    <mat-checkbox #agree>{{ "ReviewPostAgree" | translate }}</mat-checkbox>
    <div class="row">
      <button
        type="button"
        mat-button
        class="save"
        (click)="onClickSave()"
        [disabled]="formCheck.invalid || !agree.checked">
        {{ "Posted" | translate }}
      </button>
    </div>
  </mat-dialog-actions>
</form>