@import "../../../../../assets/scss/vars";

#planspot-selector{
  padding: 0;
  border-bottom: 1px solid $color-gld05;
  border-radius: 0;
  .mat-card-content{
    margin: 0 16px;
    .row{
      display: flex;
      justify-content: center;
      &.title{
        font-size: 14px;
        padding: 12px 12px 16px;
      }
      
      input{
        width: 100%;
        height: 34px;
        line-height: 34px;
        border: 1px solid #B7B7B7;
        border-radius: 17px;
        padding: 0 17px;
        font-size: 16px;
        -webkit-appearance: none;
      }

      &.button{
        display: flex;
        justify-content: flex-end;
        button.spot-search{
          font-size: 12px;
          color: $color-gld02;
          padding: 0 8px 0 16px;
      
          &::before{
            content: url("../../../../../assets/img/searchplus.svg");
            display: inline-block;
            width: 15px;
            height: 15px;
            padding-right: 3px;
            vertical-align: sub;
          }
      
          ::ng-deep.mat-button-focus-overlay{
            background-color: transparent!important; 
          }
        }
      }
      
    
      &.info{
        display: flex;
        justify-content: space-between;
        .count{
          font-size: 17px;
          color: $color-gry06;
          margin-right: 5px;
          flex-basis: 51px;
          .sm{
            font-size: 10px;
          }
        }

        .mat-form-field.condition{
          ::ng-deep.mat-form-field-wrapper{
            padding-bottom: 0.8em;
            ::ng-deep.mat-form-field-infix{
              width: 90px;
            }
          }
          
        }

        button{
          border: none;
          flex-basis: 96px;
          width: 96px;
          height: 23px;
          background-color: transparent;
          background-repeat: no-repeat;
          background-size:contain;
          background-position: center center;
        }

        button.spot{
          background-image: url("../../../../../assets/img/btn_spot.svg");
          background-repeat: no-repeat;
        }

        button.plan{
          background-image: url("../../../../../assets/img/btn_plan.svg");
          background-repeat: no-repeat;
        }

        .switch-toggle {
          float: left;
          background: #7D9E9F;
          height: 24px;
          border-radius: 12px;
          
          input{
            all: unset;
            position: absolute;
            opacity: 0;
            
            + label{
              padding: 4px;
              float:left;
              color: #fff;
              cursor: pointer;
            }

            &:checked{
              + label{
                background: #DE7274;
                border-radius: 12px;
              }
            }
          }

          label{
            text-align: center;
            &.plan{
              width: 56px;
              &::after{
                content: "";
                  display: inline-block;
                  width: 23px;
                  height: 14px;
                  background: url("../../../../../assets/img/pref_plan.svg") no-repeat;
                  vertical-align: middle;
                  margin-left: 2px;
              }
            }
            &.spot{
              width: 56px;
              &::before{
                content: "";
                  display: inline-block;
                  width: 13px;
                  height: 14px;
                  background: url("../../../../../assets/img/pref_spot.svg") no-repeat;
                  vertical-align: middle;
                  margin-right: 2px;
              }
            }
            &.all{
              width: 38px;
            }
          }

        }
      }
    }
  }
}