@import "vars";

#planspot-selector {
  padding: 0;
  border-bottom: 1px solid $color-gld05;
  border-radius: 0;
  box-shadow: none;

  .mat-card-content {
    margin: 0 16px;

    .row {
      display: flex;
      justify-content: center;
      position: relative;

      &.title {
        font-size: 14px;
        padding: 4px 12px 8px;
      }

      &.input {
        input {
          width: 100%;
          height: 34px;
          line-height: 34px;
          border: 1px solid #B7B7B7;
          border-radius: 17px;
          padding: 0 40px 0 27px;
          font-size: 16px;
          -webkit-appearance: none;
          text-overflow: ellipsis;
        }

        img.prefix {
          position: absolute;
          left: 0;
          width: 18px;
          top: 7px;
          left: 7px;
        }

        button.reset {
          all: unset;
          position: absolute;
          right: 8px;
          top: 0;
          bottom: 0;

          img {
            width: 18px;
          }
        }
      }


      &.switch {
        $r: 4px;
        margin: 0.9em 0 0.2em;
        justify-content: flex-end;

        .switch-toggle {
          //background: #7D9E9F;
          background-image: url('../../../../../assets/img/selecter_bg.svg');
          background-repeat: no-repeat;
          height: 34px;
          border-radius: $r;
          display: flex;
          justify-content: center;
          align-items: center;

          input {
            all: unset;
            position: absolute;
            opacity: 0;

            +label {
              color: #fff;
              cursor: pointer;
              display: flex;
              align-items: center;
              justify-content: center;
              height: inherit;

              &.google {
                border-left: 1px solid #fff;
              }
            }

            &#spot {
              &:checked+label {
                background: #679ecf;
                //border-radius: 12px 0 0 12px;
              }
            }

            &#plan {
              &:checked+label {
                background: #fabd00;
                //border-radius: 0 12px 12px 0;
              }
            }

            &#all {
              &:checked+label {
                //background:#797E86;
                background: #de7274;
                border-radius: $r 0 0 $r;
              }
            }

            &#google {
              &:checked+label {
                background: #797E86;
                border-radius: 0 $r $r 0;
              }
            }
          }

          label {
            text-align: center;
            width: 74px;

            &.plan {
              //width: 58px;
              position: relative;

              &::before {
                content: "";
                display: inline-block;
                width: 23px;
                height: 14px;
                background: url("../../../../../assets/img/pref_plan.svg") no-repeat;
                vertical-align: middle;
                margin-left: 2px;
              }

              // &::after{
              //   position: absolute;
              //   margin: auto;
              //   content: url("../../../../../assets/img/icon_recomm.svg");
              //   width: 50px;
              //   top:-5px;
              //   left: 0;
              //   right: 0;
              // }
            }

            &.spot {
              //width: 58px;
              position: relative;

              &::before {
                content: "";
                display: inline-block;
                width: 13px;
                height: 14px;
                background: url("../../../../../assets/img/pref_spot.svg") no-repeat;
                vertical-align: middle;
                margin-right: 2px;
              }

              // &::after{
              //   position: absolute;
              //   margin: auto;
              //   content: url("../../../../../assets/img/icon_recomm.svg");
              //   width: 50px;
              //   top:-5px;
              //   left: 0;
              //   right: 0;
              // }
            }

            &.google {

              //width: 36px;
              &::before {
                content: "";
                display: inline-block;
                width: 14px;
                height: 14px;
                background: url("../../../../../assets/img/icon_google.svg") no-repeat;
                vertical-align: middle;
                margin-right: 2px;
              }
            }
          }
        }
      }


      &.info {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .count {
          font-size: 17px;
          color: $color-gry06;
          margin-right: 5px;
          flex-basis: 51px;

          .sm {
            font-size: 10px;
          }
        }

        .mat-form-field.condition {
          flex-basis: 77px;

          ::ng-deep {
            .mat-form-field-wrapper {

              padding-bottom: 0;

              .mat-form-field-infix {
                border-top-width: 0;
                width: 77px;
              }
            }

            .mat-form-field-underline {
              height: 0 !important;
            }
          }

          &.mat-focused {
            ::ng-deep.mat-form-field-ripple {
              opacity: 0;
            }
          }

          @media screen and (min-width: 1025px) {

            flex-basis: 200px;

            ::ng-deep {
              .mat-form-field-wrapper {
                padding-bottom: 0;

                .mat-form-field-infix {
                  width: initial;
                }

                .mat-form-field-appearance-outline .mat-form-field-outline {
                  color: rgba(0, 0, 0, .12);
                  border: 0
                }
              }
            }
          }
        }

        .buttons {
          flex-basis: 48%;
          height: 37px;
          display: flex;

          button.spot-search {
            font-size: 12px;
            color: $color-gld02;
            padding: 0 8px 0 12px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 100%;

            &.on {
              font-weight: 700;
            }

            &::before {
              content: url("../../../../../assets/img/searchplus.svg");
              display: inline-block;
              width: 15px;
              height: 30px;
              padding-right: 3px;
              //vertical-align: sub;
            }

            ::ng-deep.mat-button-focus-overlay {
              background-color: transparent !important;
            }
          }
        }




        // button{
        //   border: none;
        //   flex-basis: 96px;
        //   width: 96px;
        //   height: 23px;
        //   background-color: transparent;
        //   background-repeat: no-repeat;
        //   background-size:contain;
        //   background-position: center center;
        // }

        // button.spot{
        //   background-image: url("../../../../../assets/img/btn_spot.svg");
        //   background-repeat: no-repeat;
        // }

        // button.plan{
        //   background-image: url("../../../../../assets/img/btn_plan.svg");
        //   background-repeat: no-repeat;
        // }


      }

      &.result {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 0;
        height: 0;
        visibility: hidden;
        transition: all 200ms 0s ease;

        button.popupItem {
          all: unset;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          height: 100%;
          padding: 0 4px;

          span {
            font-size: 12px;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          &.are {
            width: 35%;

            &::before {
              content: url('../../../../../assets/img/pop_area.svg') !important;
              width: 9px;
              height: 16px;
              padding-right: 2px;
            }
          }

          &.cat {
            width: 40%;
            border-right: none;

            &::before {
              content: url('../../../../../assets/img/pop_keyword.svg') !important;
              width: 12px;
              height: 16px;
              padding-right: 2px;
            }
          }

          &.reset {
            border-right: none;

            img {
              width: 18px;
              margin: auto 4px;
            }
          }
        }

        &.on {
          height: 23px;
          margin: 0.3em 0;
          visibility: visible;
        }
      }
    }
  }

  .popup {
    position: fixed;
    width: calc(100% - 32px);
    height: 44px;
    right: 0;
    left: 0;
    top: -100px;
    margin: auto;
    background-color: #ffffffeb;
    //border: 1px solid #B7B7B7;
    border-radius: 0 0 8px 8px;
    z-index: 20;
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);
    transition: all 300ms 0s ease;

    &.on {
      top: 0;
    }

    .popupInner {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-size: 13px;
      margin: 0;
      padding: 0;
      line-height: 1;
      height: 100%;

      button.popupItem {
        all: unset;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
        padding: 0 4px;
        border-right: 1px solid #eee;

        span {
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        &.cnt {
          width: 15%;
          text-align: center;
        }

        &.are {
          width: 35%;

          &::before {
            content: url('../../../../../assets/img/pop_area.svg') !important;
            width: 9px;
            height: 11px;
            padding-right: 2px;
          }
        }

        &.cat {
          width: 40%;
          border-right: none;

          &::before {
            content: url('../../../../../assets/img/pop_keyword.svg') !important;
            width: 12px;
            height: 13px;
            padding-right: 2px;
          }
        }

        &.reset {
          border-right: none;

          img {
            width: 18px;
            margin: auto 4px;
          }
        }
      }
    }
  }
}
