<mat-card id="planspot-selector">
  <mat-card-content>
    <div class='row title'>
      みんなのおすすめを探す
    </div>
    <div class='row'>
      <input type="search" 
        placeholder="「京都女子旅」「スカイツリー」..." 
        class="keyword"/>
    </div>
    <div class='row button'>
      <button mat-button class="spot-search">
        {{ 'AreaAndCommitment' | translate }}
      </button>
    </div>
    <div class='row info'>
      <div class='count'>
        {{count}}<span class="sm">&nbsp;{{ "Count" | translate }}</span>
      </div>
      <mat-form-field class='condition'>
        <mat-select></mat-select>
      </mat-form-field>
      <!-- <button class="spot" [attr.data-index]="0" [attr.data-status]="isSpot" [ngClass]="{'on':isSpot}" (click)="onSwitchPlanSpot($event)"></button>
      <button class="plan" [attr.data-index]="1" [attr.data-status]="isPlan" [ngClass]="{'on':isPlan}" (click)="onSwitchPlanSpot($event)"></button> -->
      <div class="switch-toggle switch-3 switch-candy">

        <input id="spot" name="state-d" type="radio" checked="" />
        <label for="spot" class="spot" onclick="">Spot</label>
      
        <input id="all" name="state-d" type="radio" checked="checked" />
        <label for="all" class="all" onclick="">All</label>
      
        <input id="plan" name="state-d" type="radio" />
        <label for="plan" class="plan" onclick="">Plan</label>
      
      </div>
    </div>
    
  </mat-card-content>
  

</mat-card>
