<h2 mat-dialog-title *ngIf="data.title">{{ data.title | translate }}</h2>
<mat-dialog-content>
  <span class="text">{{ data.text | translate }}</span>
  <span class="subtext" *ngIf="data.subText">{{ data.subText | translate }}</span>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close="ok" class="ok">{{ data.leftButton | translate }}</button>
  <!-- <button mat-raised-button mat-dialog-close="cancel" class="cancel">{{ data.rightButton | translate }}</button> -->
  <button type="button" mat-dialog-close="cancel" class="abscancel"></button>
</mat-dialog-actions>
