<mat-dialog-content>
  <a href="javascript:void(0);" (click)="onClickToggle()" class="changeratio">
    <span class="ratio">{{data.aspectRatio}}</span>
  </a>
  
  <image-cropper
    #cropper
    class="cropper"
    [imageFile]="data.pictureFile"
    [aspectRatio]="aspectRatio"
    [imageQuality]=100
    format="webp"
    (imageCropped)="imageCropped($event)"
    (cropperReady)="cropperReady()"
  ></image-cropper>
  
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close="cancel" class="cancel">{{ "Return" | translate }}</button>
  <button mat-raised-button class="setting" (click)="onClickOK()">{{ "Set" | translate }}</button>
</mat-dialog-actions>
