@import "../../../assets/scss/vars";


.mat-dialog-actions{
  display: flex;
  justify-content: center;
  button.cancel{
    width: 80px;
    height: 32px;
    background-color:#fff;
    color: #de7274;
    border: 1px solid #de7274;
    border-radius: 16px;
    line-height: 32px;
  }
  button.setting{
    width: 80px;
    height: 32px;
    background-color: #de7274;
    color: #fff;
    border-radius: 16px;
    line-height: 32px;
  }
}
