<div class="container">
  <div id="load__mask"></div>

  <div class="section top">
    <img
      class="logo"
      src="../../../../../assets/img/remoju-logo-b.svg"
      alt=""
    />
    <div class="caption">次はどこへ行く?</div>
    <div class="scroll">
      scroll
      <svg class="arrows">
        <path class="a1" d="M0 0 L30 32 L60 0"></path>
        <path class="a2" d="M0 20 L30 52 L60 20"></path>
        <path class="a3" d="M0 40 L30 72 L60 40"></path>
      </svg>
    </div>
  </div>

  <div class="section step1">
    <div class="head">
      <div class="step1-mark">
        <img src="../../../../../assets/img/guide/step1.png" alt="" />
      </div>
      <h1>行きたい場所を見つけて</h1>
      <p>
        みんなのおすすめプランやスポットを見たり、行きたい場所を検索して、
        行ってみたい場所をプランBOXに入れてみよう。
      </p>
    </div>
    <div class="screen">
      <img src="../../../../../assets/img/guide/body1.png" class="bg" alt="" />
      <div class="mark cap1" id="mark11">
        <div class="balloon">任意のキーワードで検索しよう！</div>
      </div>
      <div class="mark cap2" id="mark12">
        <div class="balloon">お気に入りの投稿を見つけてみよう</div>
      </div>
      <div class="mark cap3" id="mark13">
        <div class="balloon">おすすめにないスポットはGoogleで探してみよう</div>
      </div>
      <div class="mark cap4" id="mark14">
        <div class="balloon">このプランを詳しく見る</div>
      </div>
      <div class="mark cap5" id="mark15">
        <div class="balloon">気に入ったプランは、myプランに入れてみよう</div>
      </div>
      <div class="mark cap6" id="mark16">
        <div class="balloon">myプランはここから</div>
      </div>
    </div>
  </div>

  <div class="section step2">
    <div class="head">
      <div class="step2-mark">
        <img src="../../../../../assets/img/guide/step2.png" alt="" />
      </div>
      <h1>おでかけのプランを作り</h1>
      <p>
        プランBOXを開けば、おでかけの計画がカンタンに作れちゃう<br />
        移動手段や所用時間も、自宅からホテルまでスポットを最短で周るルートも自動計算してくれる
      </p>
    </div>
    <div class="screen scr0">
      <img src="../../../../../assets/img/guide/body21.png" class="bg" alt="" />
    </div>
    <div class="screen scr1">
      <img src="../../../../../assets/img/guide/body2.png" class="bg" alt="" />
    </div>
    <!-- <div class="screen scr2">
      <img src="../../../../../assets/img/guide/body21.png" class="bg" alt="" />
    </div> -->
    <div class="screen scr3">
      <img src="../../../../../assets/img/guide/body22.png" class="bg" alt="" />
    </div>
  </div>

  <div class="section step3">
    <div class="head">
      <div class="step3-mark">
        <img src="../../../../../assets/img/guide/step3.png" alt="" />
      </div>
      <h1>写真やメモをUpして、</h1>
      <p>
        つくったプランはマイページに保存<br />
        後から編集したりイメージにぴったりな写真やコメントもUpして、素敵な休日のしおりが完成<br />
        おでかけした後に編集すれば、楽しかった時間が思い出として詰まったアルバムにもなる
      </p>
    </div>
    <div class="screen">
      <img src="../../../../../assets/img/guide/body33.png" class="bg" alt="" />
    </div>
  </div>

  <div class="section step4">
    <div class="head">
      <div class="step4-mark">
        <img src="../../../../../assets/img/guide/step4.png" alt="" />
      </div>
      <h1>みんなにもシェアしよう！</h1>
      <p>
        魅力的な休日プランは、みんなにもシェア<br />
        URLを知っている人にだけ共有したり、みんなに公開したり、みんなにも魅力的な休日プランを発信しよう!
      </p>
    </div>
    <div class="screen">
      <img src="../../../../../assets/img/guide/body41.png" class="bg" alt="" />
    </div>
  </div>
</div>
