.container {
  box-sizing: border-box;
  overflow-x: hidden;

  #load__mask {
    background-color: #5f6c68;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    height: 100vh;
    width: 100%;

    &.reval {
      height: 0;
      opacity: 0;
      pointer-events: none;
      transform: scaleY(0) translateZ(10px);
      transform-origin: center top;
      width: 0;
      transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1) 0s,
        opacity 0s linear 1s, width 0s linear 1s, height 0s linear 1s;
    }
  }
  p {
    font-family: source-han-sans-japanese, sans-serif;
    font-style: normal;
    font-weight: 200;
  }
  .mark {
    display: block;
    position: absolute;
    cursor: pointer;
    &::before {
      content: "";
      display: inline-block;
      background-image: url("../../../../assets/img/guide/circle.svg");
      width: 60px;
      height: 60px;
      background-size: contain;
      vertical-align: middle;
    }
  }
  .balloon {
    position: absolute;
    width: 156px;
    background-color: #d36f71;
    border: 3px solid #fff;
    border-radius: 8px;
    padding: 8px;
    color: #fff;
    font-family: source-han-sans-japanese, sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    opacity: 0;
    word-wrap: break-word;
    margin: auto;
    &.fade {
      opacity: 1;
      scale: 1.1;
      transform: scale(1);
      transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1) 0s,
        opacity 0s linear 1s, width 0s linear 1s, height 0s linear 1s;
    }
    &.out {
      animation-name: opacity-kf;
      animation-duration: 0.5s;
    }
  }

  @keyframes opacity-kf {
    0% {
      opacity: 1;
      scale: 1.1;
    }
    100% {
      opacity: 0;
      scale: 1;
    }
  }

  .section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    padding: 1.5em;
    .head {
      .step-mark {
        display: flex;
        text-align: end;
      }
      h1 {
        font-size: 20px;
      }
      p {
        font-size: 14px;
      }
    }
    .screen {
      position: relative;
      img.bg {
        margin: auto;
        position: absolute;
        top: 30px;
        left: 0;
        right: 0;
        width: 210px;
        @media screen and (min-width: 1025px) {
          width: 560px;
        }
      }
      .balloon {
        width: 156px;
        position: absolute;
      }
      .s1b1 {
        top: 0;
        left: 0;
      }
    }

    &.top {
      //background-color: #b89b7e;
      img.logo {
        position: absolute;
        margin: auto;
        right: 0;
        left: 0;
        top: 37%;
        width: 65%;
      }
      .caption {
        position: absolute;
        margin: auto;
        right: 0;
        left: 0;
        top: 40%;
        width: 100%;
        text-align: center;
      }
    }

    &.step1 {
      .mark.cap1 {
        top: 54px;
        left: 65px;
        z-index: 2;
        .balloon {
          left: -50%;
          bottom: 65px;
        }
      }
      .mark.cap2 {
        top: 129px;
        left: 131px;
        .balloon {
          margin: auto;
          left: 0;
        }
      }
      .mark.cap3 {
        top: 64px;
        right: 56px;
        z-index: 3;
        .balloon {
          right: -47px;
          bottom: 65px;
        }
      }
      .mark.cap4 {
        top: 349px;
        right: 151px;
        .balloon {
          right: 0;
        }
      }
      .mark.cap5 {
        top: 349px;
        right: 73px;
        .balloon {
          bottom: 55px;
          right: -52px;
        }
      }
      .mark.cap6 {
        top: 436px;
        right: 58px;
        .balloon {
          bottom: 55px;
          right: 0;
        }
      }

      @media screen and (min-width: 1025px) {
        .mark.cap1 {
          top: 59px;
          left: 220px;
        }
        .mark.cap2 {
          top: 121px;
          left: 368px;
        }
        .mark.cap3 {
          top: 80px;
          left: 516px;
        }
        .mark.cap4 {
          left: 397px;
        }
        .mark.cap5 {
          top: 357px;
          right: 43px;
        }
        .mark.cap6 {
          top: 217px;
          left: 91px;
          .balloon {
            left: 0;
          }
        }
      }
    }

    &.step2 {
      .screen {
        img {
        }
      }
    }

    .scroll {
      width: 60px;
      height: 93px;
      position: absolute;
      left: 50%;
      margin-left: -30px;
      bottom: 170px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: #b89b7e;
      .arrows {
        width: 100%;
        path {
          stroke: #b89b7e;
          fill: transparent;
          stroke-width: 1px;
          animation: arrow 2s infinite;
          -webkit-animation: arrow 2s infinite;

          @keyframes arrow {
            0% {
              opacity: 0;
            }
            40% {
              opacity: 1;
            }
            80% {
              opacity: 0;
            }
            100% {
              opacity: 0;
            }
          }

          @-webkit-keyframes arrow /*Safari and Chrome*/ {
            0% {
              opacity: 0;
            }
            40% {
              opacity: 1;
            }
            80% {
              opacity: 0;
            }
            100% {
              opacity: 0;
            }
          }

          &.a1 {
            animation-delay: -1s;
            -webkit-animation-delay: -1s; /* Safari 和 Chrome */
          }

          &.a2 {
            animation-delay: -0.5s;
            -webkit-animation-delay: -0.5s; /* Safari 和 Chrome */
          }

          &.a3 {
            animation-delay: 0s;
            -webkit-animation-delay: 0s; /* Safari 和 Chrome */
          }
        }
      }
    }
  }
}
