<mat-card>
  <mat-card-content>
    <h1>guide</h1>
    <!-- <ul>
      <li><span>Point1</span>みんなのおすすめを参考に行きたい場所を探す</li>
      <li><span>Point2</span>プランBOXを開いて、自分だけの旅プランを作る</li>
      <li><span>Point3</span>写真やコメントを追加して旅のしおりを編集</li>
      <li><span>Point4</span>みんなにシェアして楽しむ</li>
    </ul> -->

    <ul>
      <li>
        <span>Step1</span>
        <h2>行きたい場所を見つけて</h2>
        <div class="caption">
          みんなのおすすめプランやスポットを見たり、行きたい場所を検索して、
          行ってみたい場所をプランBOXに入れてみよう
        </div>
        <video
          autoplay
          loop
          width="260"
          src="../../../../assets/images/RPReplay_Final1673242634_1.mp4"
        ></video>
      </li>
      <li>
        <span>Step2</span>
        <h2>おでかけのプランを作り</h2>
        <ul>
          <li>プランBOXを開けば、おでかけの計画がカンタンに作れちゃう</li>
          <li>
            移動手段や所用時間も、自宅からホテルまでスポットを最短で周るルートも自動計算してくれる
          </li>
        </ul>
      </li>
      <li>
        <span>Step3</span>
        <h2>写真やメモをUpして、</h2>
        <ul>
          <li>つくったプランはマイページに保存</li>
          <li>
            後から編集したりイメージにぴったりな写真やコメントもUpして、素敵な休日のしおりが完成
          </li>
          <li>
            おでかけした後に編集すれば、楽しかった時間が思い出として詰まったアルバムにもなる
          </li>
        </ul>
      </li>
      <li>
        <span>Step4</span>
        <h2>みんなにもシェアしよう！</h2>
        <ul>
          <li>魅力的な休日プランは、みんなにもシェア</li>
          <li>
            URLを知っている人にだけ共有したり、みんなに公開したり、みんなにも魅力的な休日プランを発信しよう！
          </li>
        </ul>
      </li>
    </ul>
  </mat-card-content>
</mat-card>
