<h2 mat-dialog-title>{{ "AutoSearchConfirmTitle" | translate }}</h2>
<mat-dialog-content>
  <label>{{'ErrorMsgAuto'|translate}}</label>
  <dl class='route'>
    <div>
      <dt><button mat-raised-button class="ok" (click)="onClickStartEndSelect(true)">{{ "PointOfDeparture" | translate }}</button></dt>
      <dd>{{ data[1].startPlanSpot ? data[1].startPlanSpot.spotName : data[1].planSpots[0].spotName }}</dd>
    </div>
    <div>
      <dt><button mat-raised-button class="ok" (click)="onClickStartEndSelect(false)">{{ "ArrivalPlace" | translate }}</button></dt>
      <dd>{{ data[1].endPlanSpot ? data[1].endPlanSpot.spotName : data[1].planSpots[data[1].planSpots.length - 1].spotName }}</dd>
    </div>
  </dl>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close="ok" class="ok">{{ "OK" | translate }}</button>
  <button type="button" mat-dialog-close="cancel" class="abscancel"></button>
</mat-dialog-actions>
