<mat-card
  class="plan-panel pt0 pb0"
>
  <mat-card-content class="card-content mb0">
    <!-- <span style="width: 44px"
      ><img src="../../../assets/img/icon-what.svg" alt="what!"
    /></span> -->
    <ul class="planlist" [@cardAnimation]="plans.length">
      <li class="card" *ngFor="let plan of plans; index as i">
        <img
          src="../../../assets/img/icon-{{ plan.category }}.svg"
          alt="{{ plan.category }}"
        />
      </li>
    </ul>

    <div class="planinfo">
      <span class="sel-spot">- 5スポット選択中 -&emsp;</span>
      <span class="use-time"><b>所用時間</b>：3時間40分</span>
    </div>
    <!-- <div class="card plus-card" (click)="addCard()">
      <h1 class="plus">&#43;</h1>
    </div> -->
  </mat-card-content>
  <mat-card-footer> </mat-card-footer>
</mat-card>
