<div class="tab">
  <mat-tab-group [selectedIndex]="1" (selectedIndexChange)="selectedChange($event)">
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="bg">Spot</span>
      </ng-template>
    </mat-tab>
    <mat-tab sele>
      <ng-template mat-tab-label>
        <span class="bg">model Plan</span>
      </ng-template>
    </mat-tab>
  </mat-tab-group>

  <mat-card class="pt0">
    <mat-card-content class="hit">
      <input type="search" placeholder="{{ 'SearchByKeyword' | translate }}" class="keyword"
        [(ngModel)]="keyword"
        (keyup.enter)="updateFilter($event)"
        (blur)="updateFilter($event)"
        (search)="updateFilter($event)"
      />
      <button mat-button class="spot-search" (click)="openDialog(0)">
        {{ 'AreaAndCommitment' | translate }}
      </button>
      
      <mat-card-content class="badge">
        <!-- <mat-chip-list>
          <mat-chip *ngFor="let item of optionKeywords">
            {{ item }}
          </mat-chip>
        </mat-chip-list> -->
        <dl>
          <dd *ngFor="let item of optionKeywords">
            {{ item }}
          </dd>
        </dl>
      </mat-card-content>
         
      <div class="bottom-line">
        <div class="count">{{ rows?.length }}<span class="sm">&nbsp;{{ "Count" | translate }}</span></div>
        <mat-form-field class="condition">
          <mat-select (selectionChange)="sortChange($event)" [(value)]="sortval">
            <mat-option *ngFor="let item of $mSort" [value]="item.id">
              {{ item.name | langFilter: lang }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="buttons">
          <button mat-flat-button class="btn recommend" (click)="onClickRemojuUser(true)" [ngClass]="{'on':isRemojuRecommended}">
            {{ "RemojuRecommended" | translate }}
          </button>
          <button mat-flat-button class="btn submission" (click)="onClickRemojuUser(false)" [ngClass]="{'on':isUserPost}">
            {{ "UserSubmissionPlan" | translate }}
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<mat-divider class="rj-linecolor"></mat-divider>

<app-plan-list-panel [rows]="details" [isFavoriteList]="false"
(scrolled)="onScrollDown()" (event)="linktoPlan($event)"></app-plan-list-panel>