@import "vars";
.box {
  margin-top: 16px;

  .glink {
    background-color: #7e9e9f;
    padding: 3px 6px;
    margin: auto 3px;
    border-radius: 3px;
    color: #fff;
    text-decoration: none;

    &::before {
      content: "";
      display: inline-block;
      width: 14px;
      height: 14px;
      background: url("../../../../../assets/img/icon_google.svg") no-repeat;
      vertical-align: middle;
      margin-right: 2px;
    }
  }
}

@media screen and (min-width: 429px) and (max-width: 1024px) {
  .box {
    display: flow-root;
  }
}

@media screen and (min-width: 1025px) {
  .box {
    height: 100%;
    // overflow-y: scroll;
    position: relative;

    &::-webkit-scrollbar {
      //display: none;
    }

    .scroll-to-top {
      position: fixed;
      margin: auto;
      right: 12px;
      bottom: 12px;
      z-index: 100;
      padding: 0;
      transition: all 0.2s ease-in-out;

      @include ios-reset();

      img {
        width: 49px;
      }

      &.up {
        bottom: 198px;
      }
    }
  }
}

#nolist {
  padding: 0 16px 16px;

  .mat-card-content {
    font-size: 12px;
    text-align: center;
  }

  .alert {
    border: 1px solid $color-pnk02;
    margin: 1rem 1.2rem;
    p {
      text-align: center;
      span {
        font-size: 120%;
        color: $color-pnk02;
      }
    }
    .sm {
      color: #999;
      font-size: 11px;
      margin-bottom: 1em;
    }
  }
}
