.box {
  margin-top: 16px;

  .glink {
    background-color: #7E9E9F;
    padding: 3px 6px;
    margin: auto 3px;
    border-radius: 3px;
    color: #fff;
    text-decoration: none;

    &::before {
      content: "";
      display: inline-block;
      width: 14px;
      height: 14px;
      background: url('../../../../../assets/img/icon_google.svg') no-repeat;
      vertical-align: middle;
      margin-right: 2px;
    }
  }
}

@media screen and (min-width: 429px) and (max-width: 1024px) {
  .box {
    display: flow-root;
  }
}

@media screen and (min-width: 1025px) {
  .box {
    height: 100%;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

#nolist {
  padding: 0 16px 16px;

  .mat-card-content {
    font-size: 12px;
    text-align: center;
  }
}
