<div
  class="box"
  infinite-scroll
  [infiniteScrollDistance]="isList ? 5 : 5"
  [infiniteScrollUpDistance]="1.5"
  [infiniteScrollThrottle]="isMobile ? 150 : 75"
  [infiniteScrollContainer]="isMobile ? null : box"
  [scrollWindow]="isMobile ? true : false"
  [fromRoot]="isMobile ? false : true"
  (scrolled)="scrolledEmit()"
  (scroll)="onScroll($event)"
  #box
>
  <mat-card id="nolist" *ngIf="!isList && condition.select !== 'google'">
    <mat-card-content>
      {{ "NotFindRecommendations" | translate }}<br />
      {{ "Instead" | translate
      }}<a
        href="javascript:void(0);"
        class="glink"
        (click)="googleLink('google')"
        >{{ "GoogleSearch" | translate }}</a
      >{{ "SearchSpot" | translate }}
    </mat-card-content>
  </mat-card>
  <mat-card id="nolist" *ngIf="!isList && condition.select === 'google'">
    <mat-card-content>
      {{ "GoogleSearchAny" | translate }}<br />
      {{ "ReplaceKeyword" | translate }}<br />
      {{ "includedPlan" | translate }}
    </mat-card-content>
  </mat-card>
  <mat-card id="nolist" *ngIf="!isList && condition.select === 'user'">
    <mat-card-content>
      {{ "UserPlan" | translate }}
    </mat-card-content>
  </mat-card>
  <ng-content> </ng-content>
  <button *ngIf="!isMobile" class="scroll-to-top" (click)="scrollToTop()">
    <img src="../../../../../assets/img/toTop3.svg" alt="toTop" />
  </button>
</div>
