<div
  class="box"
  infinite-scroll
  [infiniteScrollDistance]="isList ? 5 : 5"
  [infiniteScrollUpDistance]="1.5"
  [infiniteScrollThrottle]="75"
  [infiniteScrollContainer]="isMobile ? null : box"
  [scrollWindow]="isMobile ? true : false"
  [fromRoot]="isMobile ? false : true"
  (scrolled)="scrolledEmit()"
  (scroll)="onScroll($event)"
  #box
>
  <mat-card id="nolist" *ngIf="!isList && condition.select !== 'google'">
    <mat-card-content>
      {{ "NotFindRecommendations" | translate }}<br />
      {{ "Instead" | translate
      }}<a
        href="javascript:void(0);"
        class="glink"
        (click)="googleLink('google')"
        >{{ "GoogleSearch" | translate }}</a
      >{{ "SearchSpot" | translate }}
    </mat-card-content>
  </mat-card>
  <mat-card id="nolist" *ngIf="!isList && condition.select === 'google'">
    <mat-card-content>
      {{ "GoogleSearchAny" | translate }}<br />
      {{ "ReplaceKeyword" | translate }}<br />
      {{ "includedPlan" | translate }}
      <!-- Google AutoComplete Search Insert -->
      <mat-card-content id="agm">
        <div class="card-box">
          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>{{ "GoogleKeyword" | translate }}</mat-label>
            <input
              matInput
              matGoogleMapsAutocomplete
              #keyword
              id="keyword"
              (onAutocompleteSelected)="onAutocompleteSelected($event)"
              value="{{ place ? place.name : '' }}"
            />
          </mat-form-field>
        </div>
        <div class="mapDiv">
          <agm-map
            class="map"
            [scrollwheel]="false"
            [streetViewControl]="false"
            [zoom]="zoom"
            (mapReady)="mapReady($event)"
          >
          </agm-map>
          <div class="map-center-overlay" *ngIf="place">
            <img src="../../../assets/img/pin_mypos.svg" height="48" />
          </div>
        </div>
      </mat-card-content>
      <!-- Google AutoComplete Search Insert -->
    </mat-card-content>
  </mat-card>
  <mat-card id="nolist" *ngIf="!isList && condition.select === 'user'">
    <mat-card-content>
      {{ "UserPlan" | translate }}
    </mat-card-content>
  </mat-card>
  <ng-content> </ng-content>
  <button *ngIf="!isMobile" class="scroll-to-top" (click)="scrollToTop()">
    <img src="../../../../../assets/img/toTop3.svg" alt="toTop" />
  </button>
</div>
