<!-- <div class="firstContainer" #firstcontainer>
  <img class="logo" src="../../../../../assets/img/remoju-logo-b.svg" alt="" />
  <p class="caption">次はどこへ行く？</p>
</div>
<div class="container" #container>
  <div class="description panel blue">
    <div>
      SCROLL DOWN
      <div class="scroll-down"><div class="arrow"></div></div>
    </div>
  </div>

  <section class="panel red">ONE</section>
  <section class="panel orange">TWO</section>
  <section class="panel purple">THREE</section>
</div>
<div class="lastContainer" #lastcontainer>Last Container</div> -->

<div class="c-loader-bg js-loader-bg" #JsLoaderBg>
  <div class="c-loader-dot js-loader-dot-wrap">
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>
<!-- ヘッダー -->
<header class="c-header js-header" #JsHeader>
  <div class="c-temp">
    <p class="text">[ GSAP DEMO ]</p>
    <p class="link">
      <a href="https://b-risk.jp/blog/2022/05/gsap/" class="button">Button</a>
    </p>
  </div>
</header>

<!-- <div class="cursor" #Cursor></div> -->

<div class="shapes" #Shapes>
  <div class="shape shape1"></div>
  <div class="shape shape2"></div>
</div>

<div class="l-inner" #Linner>
  <div class="c-mv_title-wrap">
    <div class="c-mv_title">
      <h1 class="c-mv_title-item js-mv_title-item">
        <span>r</span><span>e</span><span>m</span><span>o</span><span>j</span
        ><span>u</span>
      </h1>
    </div>
  </div>
</div>

<div class="section1" #sec1>
  <p>next content</p>
</div>
