@import "../../../../assets/scss/vars";

#noReview{
  p{
    border: $color-gry07 solid 1px;
    border-radius: 10px;
    padding: 15px;
  }
}
#myPlan-review {
  padding: 0;

  .header {
    margin: 0 16px 4px;
    display: flex;
    font-weight: normal;

    .lt {
      flex-basis: 32px;

      .avatar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
          width: 38px;
          height: 38px;
          object-fit: cover;
          border-radius: 50%;
        }

        .username {
          font-size: 11px;
          white-space: nowrap;
          width: 38px;
          overflow: hidden;
          text-align: center;
        }
      }

    }

    .rt {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;

      .mark {
        flex-basis: 41px;

        img {
          width: 41px;
          height: 22px;
          margin: auto 12px;
        }
      }

      .title {
        font-size: 13px;
        color: #000;
        font-weight: bolder;
      }

      &.fav {
        margin-right: 36px;
      }
    }
  }

  .card-box {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    z-index: 10;
    overflow: hidden;
    margin-bottom: 20px;
    // border: #edeae8 solid 2px;
    box-sizing: border-box;
    margin-right: 16px;
    margin-left: 16px;
    position: relative;

    .link-area {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 63%;
      height: 63%;
      z-index: 6;
      cursor: pointer;
      margin: auto;
      margin-top: 25%;
    }

    .card-header {
      position: relative;
      height: 167px;
      overflow: hidden;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        // box-shadow: inset 0 -40px 10px -4px rgba(0, 0, 0, 0.3);
        //box-shadow: inset 0 -53px 10px -16px rgba(0, 0, 0, 0.7);
        z-index: 1;
      }

      .picture {
        .thumbmain {
          border-right: 1px solid #fff;

          img {
            // width: 37vw;
            height: 167px;
            object-fit: cover;
            @include copy-protect;
          }

          &.fullwidth {
            img {
              width: 100%;
            }
          }
        }
      }
    }

    .card-bottom {
      border-bottom: $color-gry07 solid 1px;
      border-left: $color-gry07 solid 1px;
      border-right: $color-gry07 solid 1px;
      border-radius: 0 0 10px 10px;
      // height: 206px;

      .bottom-view {
        // display: flex;
        // flex-direction: row;
        font-size: 11px;
        color: #4E4E4E;
        // height: 26px;
        align-items: center;
        position: relative;

        ::ng-deep .mat-list-item-content {
          flex-direction: column;

          .row {
            display: flex;
            flex-direction: row;
            width: 100%;
            align-items: center;

            .view {
              flex-basis: 48%;
            }
          }
        }
      }

      .mat-list-base {
        margin-bottom: 12px;
      }

      ::ng-deep .mat-list-item {
        height: auto;

        .mat-list-item-content {
          padding: 0 12px;
        }

        &.subheading {
          .mat-list-item-content {
            justify-content: center;

            p {
              font-size: 15px;
              font-weight: 400;
              margin-block-start: 4px;
              margin-block-end: 4px;
              line-height: 1.5;
              color: initial;
              text-align: center;
            }
          }
        }

        &.row {
          font-size: 12px;
          line-height: 2;

          p {
            // font-size: 11px;
            // line-height: 1.6;
            color: #272727;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            // -webkit-line-clamp: 3;
            // overflow: hidden;
            margin-block-start: 0.5em;
            margin-block-end: 0.5em;
            @include text-truncate(11, 1.6, 3, #fff);
          }
        }

        .pic {
          width: 100%;
          margin-top: 5px;

          ::ng-deep{
            .owl-stage{
              //width: 100%;
              .owl-item {
                width: 90px !important;
              }
              .thumbnail {
                display: inline-flex !important;
                height: 85px;
                width: 85px;
                overflow: hidden;

                img {
                  object-fit: cover;
                }
              }
            }  
          }
          
          
        }

        &.btnedit {
          width: 100%;
          display: flex;
          justify-content: left;

          button {
            margin-top: 5px;
            line-height: 25px;
            border-radius: 12.5px;
            font-size: 13px;
            border-color: $color-gld04;
            color: $color-gld04;

            &.remove {
              margin-left: 0.5em;
            }
          }
        }
      }
      .deletePlan {
        position: absolute;
        z-index: 1;
        top: 5px;
        right: 6px;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        width: 24px;
        height: 24px;

        >i {
          color: #fff;
          font-size: 15px;
        }
      }
    }
  }
}
