@import "../../../../assets/scss/vars";

.head {
  padding: 0 16px;
  p{
    font-size: 14px;
  }
}

.container {
  padding: 0 16px;
  .mat-list {
    padding-top: 0;

    .mat-list-item {
      margin-top: 10px;
      background-color: #fff;
      border-radius: 10px;
      height: auto !important;
      padding-bottom: 8px;

      ::ng-deep.mat-list-item-content {
        flex-direction: column;
        border: 1px solid #BFBFBF;
        padding: 16px;
        border-radius: 10px;
        .row {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-bottom: 0;
          padding-right: 0;
          &.planspot{
            justify-content:flex-start;
            .mark{
              display: flex;
              align-items: center;
              margin-right: 3px;
              img{
                width: 40px;
              }
            }
          }

          .date {
            font-size: 11px;
            color: $color-gry06;
            min-width: 192px;
          }

          ::ng-deep .mat-icon-button {
            position: absolute;
            right: 0;
          }

        }

        .title {
          width: 100%;
          font-size: 15px;
          border-bottom: 1px solid $color-gry01;
          padding-bottom: 4px;
        }

        .content {
          width: 100%;
          font-size: 12px;
          line-height: 1.8;
          color: #4d4d4d;
          margin: 8px auto 16px;
          overflow-wrap: break-word;

          &.more {
            -webkit-box-orient: unset;
            -webkit-line-clamp: unset;
          }
        }

        .line2 {
          width: 100%;
          display: inline-flex;
          justify-content: space-between;

          .visit {
            font-size: 12px;
            color: $color-gry06;
          }

          a {
            text-decoration: none;
            font-size: 12px;
            color: $color-gld04;

            &::after {
              content: "keyboard_arrow_down";
              font-family: "Material Icons";
              font-size: 16px;
              vertical-align: sub;
            }

            &.off {
              &::after {
                content: "keyboard_arrow_up";
              }
            }
          }
        }

        .pic {
          width: 100%;
          margin-top: 5px;

          ::ng-deep.owl-item {
            width: 74px !important;
          }

          .thumbnail {
            display: inline-flex !important;
            height: 85px;
            width: 85px;
            overflow: hidden;

            img {
              object-fit: cover;
            }
          }
        }

        .btnedit {
          width: 100%;
          display: flex;
          justify-content: left;

          button {
            margin-top: 5px;
            line-height: 25px;
            border-radius: 12.5px;
            font-size: 13px;
            border-color: $color-gld04;
            color: $color-gld04;

            &.remove {
              margin-left: 0.5em;
            }
          }
        }

        .deletePlan {
          position: absolute;
          z-index: 1;
          top: 5px;
          right: 6px;
          background-color: rgba(0, 0, 0, 0.3);
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          border: none;
          width: 24px;
          height: 24px;

          >i {
            color: #fff;
            font-size: 15px;
          }
        }
      }
    }

    .noReviewbox{
      padding: 16px;
      border: 1px solid #BFBFBF;
      border-radius: 10px;
      min-height: 184px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

  }
}
