@import "../../common.scss";
@import "vars";

.darkBackground {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.75;
}

.darkBackgroundText {
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}

.outletArea {
  // footer(new) height:122px
  width: 100%;
  min-height: calc(100vh - 170px);
}

@media screen and (min-width: 768px) {
  .outletArea {
    min-height: calc(100vh - 170px);
    
  }
}

.outletWidth {
  max-width: 100%;
  //min-height: calc(100vh - 170px);
}

footer {
  height: 122px;
  margin-top: -122px;
  background: #4a4a4a;
}

button {
  cursor: pointer;
  //border-radius: 5px;
}

.scroll-to-top {
  position: fixed;
  margin: auto;
  left:0;
  right: 0;
  bottom: 19px;
  z-index: 100;
  padding: 0;
  opacity: 0;
  transition: all 0.2s ease-in-out;

  @include ios-reset();

  img {
    //width: 49px;
  }

  &.up{
    //bottom: 198px;
  }
}

.view-my-plan{
  position: fixed;
  right: 8px;
  bottom: 8px;
  z-index: 101;
  padding: 0;
  opacity: 1;
  transition: all 0.2s ease-in-out;

  @include ios-reset();

  img {
    width: 63px;
    height: 63px;
  }

  ::ng-deep .mat-button-ripple{
    all: unset;
  }

  ::ng-deep .mat-badge-content{
    position: absolute;
    right: 0!important;
    top:-6px;
    // background-color: #000;
    color: #fff;
    background: url("../../../assets/img/icon_badge.svg") no-repeat;
    width: 24px;
    height: 28px;
    line-height: 28px;
  }

  &.on{
    ::ng-deep .mat-badge-content{
      background-image: url("../../../assets/img/icon_badge.svg");
    }
  }

  &.up{
    //bottom:116px;
  }
}

.show-scroll {
  opacity: 1;
}
// https://stackoverflow.com/questions/52441095/sticky-table-header-doesnt-work-in-angular-materials-mat-sidenav-container
// sticky-table-header-doesnt-work
mat-sidenav-container{
  &.mat-drawer-container-has-open{
    position: fixed!important;
    top:0;
    width: 100%;
  }
}


mat-sidenav-container,
mat-sidenav-content {
  overflow: initial;
  @include mobile-xsmall {
    .wrapper {
      //padding-top: 110px;
      // padding-top: 44px;
      // padding-top: 189px;
      &.on{
        // padding-top: 50px;
      }

      &.off{
        padding-top: 50px;
      }
    }
  }
}

// .mat-drawer:not(.mat-drawer-side) {
//   position: fixed;
// }

// .mat-drawer-backdrop {
//   position: fixed !important;
// }

.navclose {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 22px;
}

.mat-sidenav.cartnav{
  width: 100%;
  height: calc(100vh - 45px);
  margin-top: 45px;

  button.close-my-plan{
    position: fixed;
    right: 8px;
    bottom: 8px;
    z-index: 101;
    padding: 0;
    opacity: 1;
    transition: all 0.2s ease-in-out;

    @include ios-reset();

    img {
      width: 63px;
      height: 63px;
    }
  }
}

@media screen and (min-width: 1025px) { 
  mat-sidenav-container,
  mat-sidenav-content {
    background-color: #F0F2F5;
  } 
}

$body_margin:60px; //138px
#pc{
  width: 1024px;
  display: flex;
  //justify-content: center;
  margin: auto;
  .left{
    overflow-y: scroll;
    height: calc(100vh - $body_margin);
    width: 380px;
    background-color: #fff;
    margin-right: 10px;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .right {
    //flex-basis: 70%;
    width: 634px;
    height: calc(100vh - $body_margin);
    overflow-y: scroll;
    scrollbar-width: none;
    background-color: #fff;
    position: relative;
    &::-webkit-scrollbar {
      display: none;
    }

    .scroll-to-top-pc {
      position: absolute;
      margin: auto;
      right: 0;
      bottom: 0;
      z-index: 100;
      padding: 0;
      //opacity: 0;
      transition: all 0.2s ease-in-out;
    
      @include ios-reset();
    
      img {
        //width: 49px;
      }
    
      &.up{
        bottom: 198px;
      }
    }
  }
}
#pc-f{
  height: $body_margin;
  ::ng-deep{
    footer{
      padding-bottom: 0;
      .row.public{
        padding-top: 10px;
      }
      p{
        margin: unset;
        margin-top: 0.3em;
      }
    }
    
  }
  
}
