<mat-card id="planspot-list-item">
  <mat-card-content *ngIf="item.googleSpot === null; else isGoogle">
    <div class='header'>
      <div class='lt'>
        <span class='avatar'>
          <a (click)="toPostUser(item)">
            <img [src]="genUserPicture()" [alt]="genUserName()">
            <span class="username">{{genUserName()}}</span>
          </a>
        </span>
      </div>
      <div class='rt' [ngClass]="{'fav':myFavorite}">
        <!-- <span class='mark'>
          <img [src]="genMarkPath()" alt="mark">
        </span> -->
        <span class='title'>
          {{genTitle()}}
        </span>
      </div>
      <button *ngIf="myFavorite" type="button" class="delete" (click)="onClickDeleteFavorite(item)"></button>
    </div>
    <div class='card-box'>
      <div class='card-header'>
        <div class='picture'>
          <owl-carousel-o *ngIf="item.pictures && item.pictures.length > 1; else single" [options]="mainOptions">
            <ng-container *ngFor="let src of item.pictures; index as i">
              <ng-template carouselSlide id="row.planId">
                <div class="thumbmain">
                  <img [src]="src?src:noPic" [alt]="item.id" [title]="item.id" />
                </div>
              </ng-template>
            </ng-container>
          </owl-carousel-o>
          <ng-template #single>
            <ng-container *ngFor="let src of item.pictures; index as i">
              <div class="thumbmain fullwidth">
                <img [src]="src?src:noPic" [alt]="item.id" [title]="item.id" />
              </div>
            </ng-container>
          </ng-template>
        </div>
        <div class='info'>
          <div class='lt'>
            <span class='mark' [ngClass]="{'spot':!item.isPlan || item.spotQty === 1,'plan':item.isPlan && item.spotQty > 1}">
              {{ item.isPlan && item.spotQty > 1?'Plan':'Spot'}}
            </span>
            <span class="areaName" *ngIf="item.areaName">
              {{ item.areaName | langFilter: lang }}
            </span>
            <!-- <span class="category" *ngIf="item.areaName2">
              {{ item.areaName2 | langFilter: lang }}
            </span> -->
          </div>
        </div>
      </div>

      <div class='card-bottom'>
        <mat-list>
          <mat-list-item class="bottom-view">
            <div class='row'>
              <span class='view'>
                {{'PostedDate'|translate}}：{{item.releaseCreateDatetime | date:'yyyy/MM/dd'}}
              </span>
              <span class='view'>
                {{item.pvQtyAll}} view
              </span>
            </div>
            <div class='row'>
              <span class='view'>
                {{'InplanCount'|translate}}：{{item.planSpotQty}} {{ 'Man' | translate}}
              </span>
              <!--<span class='view'>
                {{'ReviewRate'|translate}}：{{item.reviewAvg}}
              </span>-->
            </div>
            <!-- <span *ngIf="!isProd">
              {{item.id}}
            </span> -->
            <button *ngIf="!myFavorite" mat-button class="add-to-favorite" [ngClass]="{'on':item.isFavorite}"
              (click)="onClickFavorite(item)">
            </button>
          </mat-list-item>
          <ng-container *ngIf="item.isPlan; else isSpot">
            <mat-list-item class="row mt02 summery">
              <span class="spots">
                <label>{{ "NumberOfSpots" | translate }}：</label>
                <div class='maru'>
                  <span>{{ item.spotQty }}</span>
                </div>
              </span>
              <span class="timerequired">
                <!-- <label>{{ "TimeRequired" | translate }}：</label> -->
                <span *ngIf="item.timeRequiredHour !== null">{{ item.timeRequiredHour }}{{ "Hour" | translate }}</span>
                <span *ngIf="item.timeRequiredMin !== null">{{ item.timeRequiredMin }}{{ "Minute" | translate }}</span>
              </span>
            </mat-list-item>
            <mat-list-item class="row psname" [innerHtml]=genPlanSpotNames(item.planSpotNames)>
            </mat-list-item>
          </ng-container>

          <ng-template #isSpot>
            <mat-list-item class="row">
              <p>{{item.overview | langFilter:lang}}</p>
            </mat-list-item>
            <mat-list-item class="row">
              <span class="directions">
                {{ genSpotAccess()}}
              </span>
            </mat-list-item>
            <mat-list-item class="row">
              <span class="businesshour">{{ "Businesshours" | translate }}：{{ genSpotBusinessHour()}}</span>
              <span class="regularholiday">{{ genSpotHoliday() }}</span>
            </mat-list-item>
          </ng-template>
          <mat-list-item class="row categories" *ngIf="item.searchCategories">
            <mat-card-content class="badge">
              <dl>
                <dd *ngFor="let item of item.searchCategories">
                  {{ item.name | langFilter:lang }}
                </dd>
              </dl>
            </mat-card-content>
          </mat-list-item>
          <!-- Remoju plan プランに追加 -->
          <mat-list-item class="footer">
            <button mat-flat-button class="add-to-plan" [ngClass]="{'on':chkInMyPlanspot(item)}"
              (click)="onClickAddToPlan(item)">
              {{ "AddToPlan" | translate }}
            </button>
          </mat-list-item>
        </mat-list>
      </div>

      <div class='link-area' (click)="linktoDetail(item)"></div>
    </div>
  </mat-card-content>
  <ng-template #isGoogle>
    <div class='header'>
      <div class='lt'>
        <span class='avatar'>
          <img src="../../../../../assets/img/icon_google.svg" alt="google">
          <span class="username">google</span>
        </span>
      </div>
      <div class='rt' [ngClass]="{'fav':myFavorite}">
        <span class='mark'>
          <img [src]="genMarkPath()" alt="mark">
        </span>
        <span class='title'>
          {{ item.googleSpot.spot_name}}
        </span>
      </div>
      <button *ngIf="myFavorite" type="button" class="delete" (click)="onClickDeleteFavorite(item)"></button>
    </div>
    <div class='card-box'>
      <div class='card-header'>
        <div class='picture'>
          <div class="thumbmain fullwidth">
            <ng-container *ngIf="item.googleSpot.picture_url;else noImage">
              <img [src]="item.googleSpot.picture_url" alt="" />
            </ng-container>
            <ng-template #noImage>
              <img src="../../../../../assets/img/noimage.png" alt="noImage">
            </ng-template>
          </div>
        </div>
        <div class='info'>
          <div class='lt'>
            <span class="areaName" *ngIf="item.googleSpot.mArea?.area_name_1">
              {{ item.googleSpot.mArea.area_name_1 | langFilter: lang }}
            </span>
          </div>
        </div>
      </div>
      <div class='card-bottom'>
        <mat-list>
          <mat-list-item class="bottom-view">
            <span class="note">
              {{ 'NotPostedRemoju' | translate }}
            </span>
            <button *ngIf="!myFavorite" mat-button class="add-to-favorite" [ngClass]="{'on':item.isFavorite}"
              (click)="onClickFavorite(item)">
            </button>
          </mat-list-item>
          <mat-list-item class="row mt1">
            <span class="googleaddress">{{ item.googleSpot.formatAddress }}</span>
          </mat-list-item>
          <!-- Remoju plan プランに追加 -->
          <mat-list-item class="footer">
            <button mat-flat-button class="add-to-plan" [ngClass]="{'on':chkInMyPlanspot(item)}"
              (click)="onClickAddToPlan(item)">
              {{ "AddToPlan" | translate }}
            </button>
          </mat-list-item>
        </mat-list>
      </div>

      <div class='link-area' (click)="linktoDetail(item)"></div>
    </div>
  </ng-template>
</mat-card>
