<footer>
  <!-- <mat-nav-list class="footerlink">
    <mat-list-item *ngFor="let item of menuItems.getMenuitem()">
      <a class="" [routerLink]="['/', item.state]">
        <span>{{ item.name }}</span>
      </a>
    </mat-list-item>
  </mat-nav-list>

  <mat-nav-list class="footerpublic">
    <mat-list-item *ngFor="let item of menuItems.getPubmenuitem()">
      <a class="" [routerLink]="['/', item.state]">
        <span>{{ item.name }}</span>
      </a>
    </mat-list-item>
  </mat-nav-list> -->
  <div class='row public'>
    <div class='col about'>
      <a (click)="linkto('about')">
        <img class="icon" src='../../../assets/img/icon_about.svg' alt='about'>
        <div>アバウト</div>
      </a>
    </div>
    <div class='col guide'>
      <a (click)="linkto('guide')">
        <img class="icon" src='../../../assets/img/icon_guide.svg' alt='guide'>
        <div>ガイド</div>
      </a>
    </div>
    <div class='col policy'>
      <a (click)="linkto('privacy')">
        <img class="icon" src='../../../assets/img/icon_policy.svg' alt='policy'>
        <div>プライバシーポリシー</div>
      </a>
    </div>
  </div>


  <p id="Copyright">© Remoju</p>
</footer>
