<h2 mat-dialog-title>{{ 'ReleaseConfirm' | translate }}</h2>
<mat-dialog-content>
  <mat-form-field appearance="outline">
    <mat-label>{{ 'Memo' | translate }}</mat-label>
    <textarea
      matInput
      #memo
      name="memo"
      rows="5"
      #inputinfo="ngModel"
      [(ngModel)]="data"
      maxlength="100"
      ></textarea>
    <mat-hint align="end">{{ data?.length || 0}}/100{{ "Characters" | translate }} &nbsp;<a href="javascript:void(0);" (click)="data='';">{{"labelClear" | translate}}</a></mat-hint>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button (click)="onClickOK()" class="ok">{{ 'OK' | translate }}</button>
  <button type="button" mat-dialog-close="cancel" class="abscancel"></button>
</mat-dialog-actions>
