<div class="box">
    <mat-card>
      <mat-card-content>
      <h1>プライバシーポリシー</h1>

      <p>弊社はお客様の個人情報をお預かりすることになりますが、そのお預かりした個人情報の取扱について、下記のように定め、保護に努めております。</p>
      
      <h4>【利用目的】</h4>
      <dl>
        <dd>1)お問い合わせに対する回答を行うため</dd>
        <dd>2)会員登録管理及びサービスのご提供のため</dd>
        <dd>3)弊社のサービス、催し物のご案内のため</dd>
        <dd>4)料金請求、課金計算のため</dd>
      </dl>
      
      <H4>【第三者への提供】</H4>
      <p>お客様が弊社に届け出たID、ユーザー名、アイコン、自己紹介文その他登録基本情報は、本サービスのウェブサイト・アプリ上で弊社が定める期間公開されます｡</p>
      
      <h4>【個人情報の取扱い業務の委託】</h4>
      <p>弊社は事業運営上、お客様により良いサービスを提供するために業務の一部を外部に委託しており、業務委託先に対してお客様の個人情報を預けることがあります。この場合、個人情報を適切に取り扱っていると認められる委託先を選定し、契約等において個人情報の適正管理・機密保持などによりお客様の個人情報の漏洩防止に必要な事項を取決め、適切な管理を実施させます。</p>
      
      <H4>【個人情報提出の任意性】</H4>
      <p>お客様が弊社に対して個人情報を提出することは任意です。ただし、個人情報を提出されない場合には、弊社からの返信やサービスを実施ができない場合がありますので、あらかじめご了承ください。</p>
      
      <h4>【個人情報の開示請求について】</h4>
      <p>お客様には、貴殿の個人情報の利用目的の通知、開示、訂正、追加、削除および利用又は提供の拒否権を要求する権利があります。詳細につきましては下記の窓口までご連絡ください。</p>
      
      <div class="company">
        運営会社：株式会社リモージュ
      </div>
      
    </mat-card-content>
    </mat-card>
</div>

