<div class="container" #container>
  <div class="section top">
    <img
      class="logo"
      src="../../../../../assets/img/remoju-logo-b.svg"
      alt=""
    />
    <div class="caption">次はどこへ行く?</div>
    <div class="scroll">
      <svg class="arrows">
        <path class="a1" d="M0 0 L30 32 L60 0"></path>
        <path class="a2" d="M0 20 L30 52 L60 20"></path>
        <path class="a3" d="M0 40 L30 72 L60 40"></path>
      </svg>
    </div>
  </div>
  <div class="section step1">
    <div class="head">
      <div class="step1-mark">
        <img src="../../../../../assets/img/guide/step1.png" alt="" />
      </div>
      <h1>行きたい場所を見つけて</h1>
      <p>
        みんなのおすすめプランやスポットを見たり、行きたい場所を検索して、
        行ってみたい場所をプランBOXに入れてみよう
      </p>
    </div>
    <div class="screen">
      <img
        src="../../../../../assets/img/guide/screen1.png"
        class="bg"
        alt=""
      />
      <img
        src="../../../../../assets/img/guide/balloon1.svg"
        class="balloon b1"
        alt=""
      />
    </div>
  </div>
  <div class="section step2">
    <div class="head">
      <div class="step-mark">
        <img src="../../../../../assets/img/guide/step2.png" alt="" />
      </div>
      <h1>お出かけのプランを作ろう</h1>
      <p>プランBOXを開けば、おでかけの計画がカンタンに作れちゃう</p>
    </div>
    <div class="screen"></div>
  </div>
</div>
