.container {
  .section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    // width: 100%;
    position: relative;
    padding: 1.5em;
    &.top {
      //background-color: #b89b7e;
      img.logo {
        position: absolute;
        margin: auto;
        right: 0;
        left: 0;
        top: 37%;
        width: 65%;
      }
      .caption {
        position: absolute;
        margin: auto;
        right: 0;
        left: 0;
        top: 40%;
        width: 100%;
        text-align: center;
      }
    }

    .head {
      .step-mark {
        display: flex;
        text-align: end;
      }
      h1 {
        font-size: 20px;
      }
      p {
        font-size: 14px;
      }
    }

    .screen {
      position: relative;
      img.bg {
        margin: auto;
        position: absolute;
        top: 30px;
        left: 0;
        right: 0;
        width: 257px;
      }
      .balloon {
        width: 156px;
        position: absolute;
      }
      .s1b1 {
        top: 0;
        left: 0;
      }
    }

    .arrows {
      width: 60px;
      height: 72px;
      position: absolute;
      left: 50%;
      margin-left: -30px;
      bottom: 170px;
    }

    /*-scroll down-*/
    .arrows path {
      stroke: #b89b7e;
      fill: transparent;
      stroke-width: 1px;
      animation: arrow 2s infinite;
      -webkit-animation: arrow 2s infinite;
    }

    @keyframes arrow {
      0% {
        opacity: 0;
      }
      40% {
        opacity: 1;
      }
      80% {
        opacity: 0;
      }
      100% {
        opacity: 0;
      }
    }

    @-webkit-keyframes arrow /*Safari and Chrome*/ {
      0% {
        opacity: 0;
      }
      40% {
        opacity: 1;
      }
      80% {
        opacity: 0;
      }
      100% {
        opacity: 0;
      }
    }

    .arrows path.a1 {
      animation-delay: -1s;
      -webkit-animation-delay: -1s; /* Safari 和 Chrome */
    }

    .arrows path.a2 {
      animation-delay: -0.5s;
      -webkit-animation-delay: -0.5s; /* Safari 和 Chrome */
    }

    .arrows path.a3 {
      animation-delay: 0s;
      -webkit-animation-delay: 0s; /* Safari 和 Chrome */
    }
  }
}
