<div class="box"
infinite-scroll
  [infiniteScrollDistance]="4"
  [infiniteScrollUpDistance]="1.5"
  [infiniteScrollThrottle]="150"
  (scrolled)="onScrollDown()">
  <!-- <ng-container *ngFor="let row of rows | paginate: { itemsPerPage: pageSize, currentPage: p, id: 'plan' }"> -->
  <ng-container *ngFor="let row of rows">
    <!-- 写真 -->
    <mat-card>
      <mat-card-content>
        <div class="card-box" [ngClass]="{'onplan':match(row.planSpotIds,myPlanSpots)}">
          <div class="card-header">
            <owl-carousel-o
            *ngIf="row.pictures && row.pictures.length > 1;
              else singlePict"
            [options]="mainOptions">
              <ng-container *ngFor="let item of row.pictures; index as i">
                <ng-template carouselSlide id="row.planId">
                  <a class="link" (click)="linktoPlan(row.planId)">
                    <div class="thumbmain">
                      <img
                        [src]="item"
                        [alt]="row.planId"
                        [title]="row.planId"
                      />
                    </div>
                  </a>
                </ng-template>
              </ng-container>
            </owl-carousel-o>
            <ng-template #singlePict>
              <ng-container *ngFor="let item of row.pictures; index as i">
                <div class="thumbmain fullwidth">
                  <img
                    [src]="item"
                    [alt]="row.planId"
                    [title]="row.planId"
                  />
                </div>
              </ng-container>
            </ng-template>

            <div class="info">
              <div class="lt">
                <span class="areaName" *ngIf="row.areaName">
                  {{ row.areaName | langFilter: lang }}
                </span>
                <span class="category" *ngIf="row.areaName2">
                  {{ row.areaName2 | langFilter: lang }}
                </span>
              </div>
              <div class="rt" *ngIf="!isFavoriteList">
                <button mat-button class="add-to-favorite"  (click)="onClickFavorite(row)" [ngClass]="{'on':row.isFavorite}">
                </button>
                <span *ngIf="row.isRemojuPlan;else usersplan">
                  <img src="{{modelPlan_src}}" alt="model-plan"/>
                </span>
                <ng-template #usersplan>
                  <img src="{{usersPlan_src}}" alt="users-plan"/>
                </ng-template>
              </div>
              <div class="rt" *ngIf="isFavoriteList">
                <button class="deletePlan" *ngIf="isFavoriteList" (click)="onClickDeleteFavorite(row)">
                  <i class="material-icons">clear</i>
                </button>
              </div>
            </div>
            <div class="views">
              <span class="label">View</span>
              <span class="item">{{ row.pvQtyAll.toLocaleString() }}</span>
            </div>
          </div>

          <div class="card-bottom">
            <mat-list class="pt0">
              <mat-list-item class="subheading">
                <p>
                  {{ row.planName }}
                </p>
              </mat-list-item>
              <mat-list-item *ngIf="!row.seo">
                <mat-divider class="rj-linecolor" ></mat-divider>
              </mat-list-item>
              <mat-list-item class="row subtitle" *ngIf="row.seo">
                {{ row.seo.subtitle | langFilter: lang }}
                <mat-divider class="rj-linecolor"></mat-divider>
              </mat-list-item>
              <mat-list-item class="row subtitle psname" *ngIf="row.planSpotNames">
                <p>
                {{genPlanSpotNames(row.planSpotNames)}}
                </p>
              </mat-list-item>
              
              <mat-list-item class="row mt1">
                <span class="timerequired">
                  <label>{{ "TimeRequired" | translate }}：</label>
                  <span *ngIf="row.timeRequiredHour !== null">{{ row.timeRequiredHour }}{{ "Hour" | translate }}</span>
                  <span *ngIf="row.timeRequiredMin !== null">{{ row.timeRequiredMin }}{{ "Minute" | translate }}</span>
                </span>
                <span class="spots ml1">
                  <label>{{ "NumberOfSpots" | translate }}：</label>
                  <span>{{ row.spotQty }}</span>
                </span>
              </mat-list-item>
              <mat-list-item class="row">
                <span class="contributor">
                  <label>{{ "Contributor" | translate }}：</label>
                  <ng-template #blankuser>
                    <img class="staff" src="../../../assets/img/blank_sq-80.jpg"/>
                  </ng-template>
                  <img class="staff" *ngIf="row.userPictureUrl && row.userPictureUrl.length > 0;else blankuser" [src]="row.userPictureUrl" />
                  <span>{{row.userName?row.userName:'RemojuStaff' | translate }}</span>
                </span>
              </mat-list-item>
              <mat-list-item class="row categories" *ngIf="row.searchCategories">
                <mat-card-content class="badge">
                  <dl>
                    <dd *ngFor="let item of row.searchCategories">
                      {{ item.name | langFilter:lang }}
                    </dd>
                  </dl>
                </mat-card-content>
              </mat-list-item>
              <!-- Remoju plan プランに追加 -->
              <mat-list-item class="footer">
                <button mat-flat-button class="add-to-plan" (click)="onClickAddToPlan(row)" *ngIf="row.isCreation">
                  {{ "AddToPlan" | translate }}
                </button>
              </mat-list-item>
            </mat-list>    
          </div>
          <div class="link-area" (click)="linktoPlan(row.planId)"></div>
        </div>
      </mat-card-content>
      
    </mat-card>
  </ng-container>
</div>

<!-- <loading-spinner *ngIf="!finished>"></loading-spinner> -->

<div class="loading" *ngIf="!finished"> loading ... </div>