<div class="box"
  infinite-scroll
  [infiniteScrollDistance]="3"
  [infiniteScrollUpDistance]="1.5"
  [infiniteScrollThrottle]="300"
  (scrolled)="onScrollDownSpot()">
  <!-- <ng-container *ngFor="let row of rows | paginate: { itemsPerPage: pageSize, currentPage: p, id: 'spot' }"> -->
  <ng-container *ngFor="let row of rows">
    <div *ngIf="row.googleSpot === null; else googleSpot">
      <!-- 写真 -->
      <mat-card>
        <mat-card-content>
          <div class="card-box" [ngClass]="{'onplan':myPlanSpots?.includes(row.spotId)}">
            <!-- <div class="card-header" (click)="linktoSpot(row.spotId)"> -->
            <div class="card-header">
              <!-- 写真(複数枚) -->
              <owl-carousel-o
              *ngIf="
                row.pictures != null && row.pictures.length > 1;
                else singlePict
              "
              [options]="mainOptions"
              >
              <ng-container *ngFor="let item of row.pictures; index as i">
                <ng-template carouselSlide id="item.spot_id">
                  <div class="thumbmain covered">
                    <img
                      [src]="item.picture_url"
                      [alt]="item.spot_id"
                      [title]="item.spot_id"
                    />
                  </div>
                </ng-template>
              </ng-container>
              </owl-carousel-o>
              <!-- 写真(1枚) -->
              <ng-template #singlePict>
                <ng-container *ngFor="let item of row.pictures; index as i">
                  <div class="thumbmain">
                    <img
                      [src]="item.picture_url"
                      [alt]="item.spot_id"
                      [title]="item.spot_id"
                    />
                  </div>
                </ng-container>
              </ng-template>
              
              <div class="info">
                <div class="lt">
                  <span class="areaName">
                    {{ row.areaName | langFilter: lang }}
                  </span>
                  <span class="areaName sub" *ngIf="row.areaName2">
                    {{ row.areaName2 | langFilter: lang }}
                  </span>
                  <span class="category" *ngIf="row.categoryTexts && lang === 'ja'">
                    {{ row.categoryTexts }}
                  </span>
                  <span class="category" *ngIf="row.categoryIcons?.length !==0 && lang !== 'ja'">
                    <ng-container *ngFor="let item of row.categoryIcons;">
                      <img class="svg" [src]="'../../../assets/img/' + item" matTooltip="{{ row.categoryTexts }}"  />
                    </ng-container>
                  </span>
                </div>
                <div class="rt" *ngIf="!isFavoriteList">
                  <button mat-button class="add-to-favorite"  (click)="onClickFavorite(row)" [ngClass]="{'on':row.isFavorite}">
                  </button>
                </div>
                <div class="rt" *ngIf="isFavoriteList">
                  <button class="deleteSpot" *ngIf="isFavoriteList" (click)="onClickDeleteFavorite(row)">
                    <i class="material-icons">clear</i>
                  </button>    
                </div>
              </div>
              <div class="spotName">
                {{
                  row.spotName | langFilter: lang
                }}
              </div>
              <div class="views">
                <span class="label">View</span>
                <span class="item">{{ row.pvQtyAll.toLocaleString() }}</span>
              </div>
            </div>

            <div class="card-bottom">
              <mat-list class="pt0">
                <!-- Remoju spot 営業時間/定休日 -->
                <mat-list-item class="subheading">
                  <p>
                    {{ row.overview | langFilter: lang }}
                  </p>
                </mat-list-item>
                <!-- Remoju spot 最寄駅 -->
                <mat-list-item
                  class="row"
                  *ngIf="(row.nearest | langFilter: lang) !== ''">
                  <span class="directions">
                    {{ row.nearest | langFilter: lang }}
                  </span>
                </mat-list-item>
                <!-- Remoju spot 営業時間/定休日 -->
                <mat-list-item class="row">
                  <span class="businesshour" *ngIf="row.businessHourHead !== ''">
                    <span class="color">{{ "Businesshours" | translate }}</span>：{{ row.businessHourHead }}</span>
                    <span class="regularholiday" *ngIf="row.holiday">
                      &emsp;{{ "Holiday" | translate }}：{{ row.holiday }}</span>
                </mat-list-item>
                <!-- Remoju spot お気に入り/プランに追加 -->
                <mat-list-item class="footer">
                  <!-- <button mat-button class="add-to-favorite"  (click)="onClickFavorite(row)" [ngClass]="{'on':row.isFavorite}">
                  </button> -->
                  <button mat-flat-button class="add-to-plan" (click)="onClickAddToPlan(row)">
                    {{ "AddToPlan" | translate }}
                  </button>
                </mat-list-item>
              </mat-list>
            </div>

            <div class="link-area" (click)="linktoSpot(row.spotId)"></div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <ng-template #googleSpot>
      <mat-card>
        <mat-card-content>
          <div class="card-box">
            <div class="card-header">
              <div class="thumbmain">
                <img [src]="row.googleSpot.picture_url" />
              </div>
              <div class="info">
                <span class="areaName" *ngIf="row.googleSpot.areaId > 0">
                  {{ row.googleSpot.mArea.area_name_1 | langFilter: lang }}
                </span>
                <span class="category-google">
                </span>
                <button class="deleteSpot" *ngIf="isFavoriteList" (click)="onClickDeleteFavorite(row)">
                  <i class="material-icons">clear</i>
                </button>
              </div>
              <div class="spotName">
                {{ row.googleSpot.spot_name }}
              </div>
            </div>
            <div class="card-bottom">
              <mat-list class="pt0">
                <!-- Google spot 概要　なし -->
                <mat-list-item class="subheading">
                  <p>
                    {{ row.subheading | langFilter: lang }}
                  </p>
                </mat-list-item>
                <!-- Google spot 最寄駅　なし -->
                <mat-list-item class="row list">
                  <span class="directions">
                    <!-- {{ row.nearest | langFilter: lang }} -->
                    {{ row.googleSpot.formatAddress}}
                  </span>
                </mat-list-item>
                <mat-list-item class="row">
                  <span class="attention">
                    {{ "GoogleSpot" | translate }}
                  </span>
                </mat-list-item>
                <mat-list-item class="footer">
                  <button mat-button class="add-to-favorite"  (click)="onClickFavorite(row)" [ngClass]="{'on':row.isFavorite}">
                  </button>
                  <button mat-flat-button class="add-to-plan" (click)="onClickAddToPlan(row)">
                    {{ "AddToPlan" | translate }}
                  </button>
                </mat-list-item>
              </mat-list>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </ng-template>
  </ng-container>
</div>
