/* You can add global styles to this file, and also import other style files */
// @use '@angular/material' as mat;
@import "~ngx-owl-carousel-o/lib/styles/scss/owl.carousel";
@import "~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default";
@import "./assets/scss/vars";
@import "./assets/scss/mq";
@import "./assets/scss/styles";
@import "./assets/scss/layouts";

// $custom-typography: mat.define-typography-config(
//   $font-family: "'Noto Sans JP','sans-serif'"
// );

// @include mat.core($custom-typography);

// LoadingIndicator
.app-loading-indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-loading-indicator-backdrop {
  // background-color: rgba(0, 0, 0, .75);
  background-color: #fff;
}

.custom-snackbar {
  margin: auto !important;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 91% !important;
  height: 50px;
  right: 0;
  left: 0;
}

table.dlgtbl {
  all: unset;

  tr {
    display: grid;
    td {
      &:first-child {
        font-weight: bolder;
      }
    }
  }

  margin-bottom: 1em;
}

.myplanSnackBar {
  background-color: #baa069;
  font-weight: 800;

  margin: auto !important;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 70% !important;
  height: 70px;
  right: 0;
  left: 0;
  @media screen and (min-width: 768px) {
    max-width: 280px !important;
  }

  .mat-simple-snackbar {
    justify-content: center !important;
    line-height: 45px;
  }
}
