<div class="spotdtl" (swiperight)="onSwipeRight($event,data.spotId)">
  <mat-card id="spotdtlheader" [ngClass]="{'onplan':myPlanSpots?.includes($spotId)}">
    <div class='link' (click)="linktolist()">
      <span class="frame">{{"BackEveryoneRecommendations" | translate}}</span>
    </div>
    <mat-card-content>
      <div class='header'>
        <div class='lt'>
          <span class='avatar'>
            <img
                src="{{ $userStaff?.pictureUrl }}"
                alt=""
              />
            <span class="username">{{$userStaff?.romanLetterName|langFilter:lang}}</span>
          </span>
        </div>
        <div class='rt'>
          <div class='name'>
            <span class='mark'>
              <img src="../../../assets/img/mark_spot.svg" alt="mark">
            </span>
            <span class='title'>
              {{ data.spotName | langFilter: lang }}
            </span>
          </div>
          <div class='buttons'>
            <button mat-button  (click)="onClickThanks()" [ngStyle]="{'color' : ($isThanks ? 'red' : 'gray')}">
              <i class="material-icons">thumb_up</i>
            </button>
            <button mat-button class="add-to-favorite" [ngClass]="{'on':data.isFavorite}" (click)="onClickFavorite()">
            </button>
            <button mat-icon-button class="plan_add" (click)="onClickAddToPlan()">
              <img src="{{addplanbtn_src}}" alt="add to plan">
            </button>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <div class='container' #cont>
    <mat-card id="mainPictures">
      <mat-card-content class="mt10">
        <owl-carousel-o *ngIf="isMulti; else singlePict" [options]="mainOptions">
          <ng-container *ngFor="let item of mainPictures; index as i">
            <ng-template carouselSlide id="item.spot_id">
              <div class="thumb">
                <img
                  [src]="item.picture_url"
                  [alt]="item.spot_id"
                  [title]="item.spot_id"
                />
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>

        <ng-template #singlePict>
            <div class="thumb">
              <img
                [src]="mainPicturesSingle?.picture_url"
                [alt]="mainPicturesSingle?.spot_id"
                [title]="mainPicturesSingle?.spot_id"
              />
            </div>
        </ng-template>
      </mat-card-content>
      <div class='info'>
        <div class='lt'>
          <span class="areaName" *ngIf="data.areaName1">
            {{ data.areaName1 | langFilter: lang }}
          </span>
          <span class="category" *ngIf="data.areaName2">
            {{ data.areaName2 | langFilter: lang }}
          </span>
        </div>
        <div class='rt'>
          <div class="view">
            {{ data.pvQty }}<span>view</span>
          </div>
        </div>
      </div>
    </mat-card>

    <mat-card class="p0" id="spotHeader">
      <mat-card-content>
        <mat-list class="spot-info">
          <mat-list-item class="title">
            {{ "BasicInfomation" | translate }}
          </mat-list-item>
          <!-- <mat-list-item
            class="row view">
            <span>
              {{data.pvQty?.toLocaleString()}}&nbsp;View
            </span>
          </mat-list-item> -->
          <mat-list-item
            class="row pt8"
            *ngIf="($nearest | langFilter: lang) !== ''"
          >
            <span class="{{ $access}}">
              {{ $nearest | langFilter: lang }}
            </span>
          </mat-list-item>
          <mat-list-item class="row">
            <div [innerHTML]="$budgetFrameHead"></div>
          </mat-list-item>
          <mat-list-item class="row">
            <span class="businesshour" *ngIf="$businessHourMain !== ''">
              {{ $businessHourHead }}
            </span>
          </mat-list-item>
          <!-- <mat-list-item class="row moreinfo">
            <button mat-stroked-button class="more" (click)="scrollToDetail()">
              {{ "ContinuationOfInfomation" | translate }}
            </button>
          </mat-list-item> -->
        </mat-list>
      </mat-card-content>
    </mat-card>

    <mat-card id="content">
      <mat-card-content>
        <div class='avatar'>
          <img src="{{ $userStaff?.pictureUrl }}" alt=""/>
        </div>
        <p [innerHTML]="data.spotOverview | langFilter: lang | replaceNewline"></p>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <ng-container *ngFor="let item of spotPictures; index as i">
          <h4
            class="subheading mt28"
            [innerHTML]="item.subheading | langFilter: lang | replaceNewline"
          ></h4>
          <div class="thumbmain">
            <img
              [src]="item.picture_url"
              [alt]="item.spot_id"
              [title]="item.spot_id"
            />
          </div>
          <p
            [innerHTML]="item.comment | langFilter: lang | replaceNewline"
          ></p>
        </ng-container>
      </mat-card-content>
    </mat-card>

    <mat-card id="spot-detail">
      <mat-card-header>
        <h4 class="header">
          {{ "MoreInformation" | translate }}
        </h4>
      </mat-card-header>
      <mat-divider class="rj-linecolor"></mat-divider>
      <mat-card-content class="mt16">
        <table>
          <tbody>
            <tr>
              <td class="title" translate>SpotName</td>
              <td style="word-break: break-all;">
                {{ data.spotName | langFilter: lang }}
              </td>
            </tr>
            <tr>
              <td class="title" translate>Address</td>
              <td>
                <span class="addr">{{ data.address | langFilter: lang }}</span>
                <a class="map" href="{{$mapUrl}}" target="_blank"></a>
              </td>
            </tr>
            <tr>
              <td class="title" translate>TEL</td>
              <td>
                <a href="tel:{{ data.tel | langFilter }}">{{ data.tel | langFilter: lang }}</a>
              </td>
            </tr>
            <tr>
              <td class="title" translate>Businesshours</td>
              <td class="line" [innerHTML]="$businessDay"></td>
            </tr>
            <tr>
              <td class="title" translate>Holiday</td>
              <td>
                {{ $regularHoliday }}</td>
            </tr>
            <tr>
              <td class="title" translate>URL</td>
              <td style="word-break: break-all;" [innerHTML]="$hpUrl">
              </td>
            </tr>
            <tr>
              <td class="title" translate>Note</td>
              <td></td>
            </tr>
            <tr>
              <td class="title" translate>Budget</td>
              <td class="line" [innerHTML]="$budgetFrame"></td>
            </tr>
            <tr>
              <td class="title" translate>SuggestedTime</td>
              <td>
                {{ $averageStayTime }}
              </td>
            </tr>
            <tr>
              <td class="title" translate>Areas</td>
              <td class="line">
                <span class="feature" *ngIf="$areaName1" (click)="onClickArea(true)">{{ $areaName1 | langFilter:lang }}</span>
                <span class="feature" *ngIf="$areaName2" (click)="onClickArea(false)">{{ $areaName2 | langFilter:lang }}</span>
              </td>
            </tr>
            <tr>
              <td class="title" translate>Options</td>
              <td class="line">
                <ng-container *ngFor="let item of $searchCategories">
                  <span class="feature" (click)="onClickCategory(item)">{{ item.name | langFilter:lang }}</span>
                </ng-container>
              </td>
            </tr>
          </tbody>
        </table>
      </mat-card-content>
    </mat-card>

    <app-comment-list-post-panel *ngIf="reviewResult" [reviewResult]="reviewResult" [type]="1" [id]="data.spotId"></app-comment-list-post-panel>

    <mat-card id="nearbySpot" class="pics">
      <mat-card-header>
        <h4 class="header">
          {{ "NearbySpots" | translate }}
        </h4>
        <img class="mark" src="../../../assets/img/mark_spot.svg" alt="mark">
      </mat-card-header>
      <mat-divider class="rj-linecolor"></mat-divider>
      <mat-card-content class="mt16">
        <owl-carousel-o [options]="customOptions">
          <ng-container *ngFor="let item of nearbySpots; index as i">
            <ng-template carouselSlide id="item.spotPlanID">
              <a href="{{ lang }}/spots/detail/{{ item.spotPlanID }}">
                <div class="thumbnail">
                  <img [src]="item.pictureUrl" alt="" />
                </div>
                <div class="content">
                  <p>{{ item.name | langFilter: lang }}</p>
                </div>
              </a>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </mat-card-content>
    </mat-card>

    <mat-card id="recommendPlan" class="pics" *ngIf="modePlanshow">
      <mat-card-header>
        <h4 class="header">
          {{ "RecommendedPlanwithSpot" | translate }}
        </h4>
        <img class="mark" src="../../../assets/img/mark_plan.svg" alt="mark">
      </mat-card-header>
      <mat-divider class="rj-linecolor"></mat-divider>
      <mat-card-content class="mt16">
        <owl-carousel-o [options]="customOptions">
          <ng-container *ngFor="let item of modelPlans; index as i">
            <ng-template carouselSlide id="item.spotPlanID">
              <!-- <a [routerLink]="['/PlanDetail', item.spotPlanID]"> -->
              <a href="{{ lang }}/plans/detail/{{ item.spotPlanID }}">
                <div class="thumbnail">
                  <img [src]="item.pictureUrl" alt="" />
                </div>
                <div class="content">
                  <p>{{ item.name }}</p>
                </div>
              </a>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </mat-card-content>
    </mat-card>

    <mat-card id="writer" *ngIf="$userStaff">
      <mat-card-header>
        <h4 class="header">
          {{ "Article" | translate }}
        </h4>
      </mat-card-header>
      <mat-divider class="rj-linecolor"></mat-divider>

      <mat-card-content>
        <div class="card-box">
          <div class="card-header">
            <div class="cover">
              <div class="wrap">

              </div>
            </div>
            <div class="user">
              <div class="wrap">
                <img src="{{ $userStaff?.pictureUrl }}" alt=""/>
              </div>
            </div>
          </div>
          <div class="card-info">
            <div class="username">
              {{$userStaff?.romanLetterName|langFilter:lang}}
            </div>
            <div class="gender">
              <span class="country"></span>
              <span>{{ "Age" | translate }}</span>
              <span>/{{ "Female" | translate }}</span>
              <span>/{{ "Male" | translate }}</span>

            </div>
            <div class="about">
              <p>{{ $userStaff?.introduction | langFilter: lang }}</p>
            </div>
          </div>
        </div>
      </mat-card-content>

      <div class='buttons'>
        <button mat-button disableRipple matBadge="4" matBadgeSize="small" >{{ 'ViewUserPost' | translate }}</button>
      </div>
    </mat-card>
    <!-- <app-userprofile-panel [detail]="true"></app-userprofile-panel> -->
    <button *ngIf="!isMobile" class="scroll-to-top" (click)="scrollToTop()">
      <img src="../../../../../assets/img/toTop3.svg" alt="toTop" />
    </button>
  </div>

</div>
